<md-toolbar class="console__include" layout="column" layout-align="center center" ng-controller="ConsoleCtrl">

  <md-slider ng-model="volume" ng-change="changeVolume(volume)" min="0" max="100" step="1"></md-slider>
  <img ng-src="assets/images/logo.png" class="console__logo"/>
<!--  <md-button href="#"> {{data}}</md-button>-->
  <p class="console__stat">
    Слушают <span class="console__listeners">11</span> из них активно: <span class="console__active-users">9</span>
  </p>
  <md-button class="console__buttton--upload" ng-click="openUploadBar($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2z"/>
      <path d="M0 0h24v24h-24z" fill="none"/>
    </svg>
  </md-button>
  <p class="console__user-limit">
    Ты можешь залить <time class="console__limit">00:20:21</time>
  </p>
  <p class="console__greating">
    45 символов это геноцид, <a href="#" class="console__username">username</a>
  </p>
  <p class="console__links">
    <a href="#" class="console__link">Жертвенник</a>
    <a href="#" class="console__link">Уголок потребителя</a>
    <a href="#" class="console__link">Сделать ночь</a>
    <a href="#" class="console__link">RTFM</a>
  </p>
<!--
{{alert}}
<md-button class="md-primary" aria-label="login-btn" ng-click="showAdvanced($event)">
      Custom Dialog
    </md-button>
-->

</md-toolbar>
