<md-toolbar class="console__include" layout="column" layout-align="center center" ng-controller="ConsoleCtrl">

  <md-slider ng-model="volume" aria-label="volume-slider" ng-change="changeVolume(volume)" min="0" max="100" step="1"></md-slider>
  <img ng-src="assets/images/logo.png" class="console__logo" ng-click="data()"/>
  <md-button class="console__login-btn" aria-label="console-login" ng-show="!load.signed" ng-click="showLoginModal($event)">Log in</md-button>
  <p class="console__stat">
    Слушают <span class="console__listeners">{{users.listeners}}</span> из них активно: <span class="console__active-users">{{users.active}}</span>
  </p>
  <md-button class="console__buttton--upload" aria-label="uploader-btn" ng-click="openUploadBar($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2z"/>
      <path d="M0 0h24v24h-24z" fill="none"/>
    </svg>
  </md-button>
  <p class="console__user-limit" ng-show="load.signed">
    Ты можешь залить <time class="console__limit">{{user.uplim | readableTime}}</time>
  </p>
  <p class="console__greating" ng-show="load.signed">
    45 символов это геноцид, <a href="#" class="console__username">{{user.name}}</a>
  </p>
  <p class="console__links">
    <a href="#" class="console__link">Жертвенник</a>
    <a href="#" class="console__link">Уголок потребителя</a>
    <a href="#" class="console__link">Сделать ночь</a>
    <a href="#" class="console__link">RTFM</a>
  </p>

</md-toolbar>
