<md-toolbar layout="column" layout-align="center center" ng-controller="ConsoleCtrl">

  <md-slider ng-model="volume" ng-change="changeVolume(volume)" min="0" max="100" step="1"></md-slider>
  <img ng-src="/assets/images/logo.png" class="console__logo"/>
  <md-button href="#"> {{data}}</md-button>
  <md-button class="console__buttton--upload" ng-click="openUploadBar($event)">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path d="M19 13h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2z"/>
      <path d="M0 0h24v24h-24z" fill="none"/>
    </svg>
  </md-button>

</md-toolbar>
