.console
  & md-slider
    width 85%
    & .md-track
      background-color #777
      border-radius 5px
    & .md-track-container
      height 8px
    & .md-track-fill
      background-color #fff
    & .md-thumb
      top 8px
      &:after
        border-color #000
        background-color #fff
    & .md-focus-thumb
      background-color #fff
    & .md-focus-ring
      background-color #fff
      top 2px
.console__buttton--upload
  background-color #FFCD00
  width 100%
  color #fff
  border-radius 0 !important
  font-size 32px

.console__logo
  width 85%
  margin 15px

.switcher
  height 100px
  &.play
    & .c
      fill #FFE780
    & .b3
      animation-name dance
      animation-duration 1s
      animation-delay 1s
      animation-fill-mode both
      animation-iteration-count infinite
    & .b2
      animation-name dance
      animation-duration 1s
      animation-delay .66s
      animation-fill-mode both
      animation-iteration-count infinite
    & .b1
      animation-name dance
      animation-duration 1s
      animation-delay .33s
      animation-fill-mode both
      animation-iteration-count infinite
@keyframes dance
  0%
    stroke #FFE780
  100%
    stroke #FFCC00


