.md-sidenav-left
  & .console__switcher-cont
    min-height 36px /* Depend with .console__ctrl */
    height 36px /* Depend with .console__ctrl */
    max-height 36px /* Depend with .console__ctrl */
    background-color colorGray1
    body[theme='dark'] &
      background-color darkGray1
.console__ctrl
  height -webkit-calc(100% - 36px) /* Depend with .console__switcher-cont */
  height calc(100% - 36px) /* Depend with .console__switcher-cont */
.console__include
  height 100%
  position relative
  align-items center
  background-color colorGray1 !important
  body[theme='dark'] &
    background-color darkGray1 !important

@media screen and (min-width: 960px)
  .md-sidenav-left
    & .console__switcher-cont
      min-height 60px /* Depend with .console__ctrl */
      height 60px /* Depend with .console__ctrl */
      max-height 60px /* Depend with .console__ctrl */
      padding 5px
      background-color colorGray1
      body[theme='dark'] &
        background-color darkGray1
  .console__ctrl
    height -webkit-calc(100% - 60px) /* Depend with .console__switcher-cont */
    height calc(100% - 60px) /* Depend with .console__switcher-cont */


.console
  overflow-x hidden
  height 100%
  & md-slider
    width 85% /* no dep */
    & .md-track
      background-color #777
      border-radius 5px
    & .md-track-container
      height 8px
    & .md-track-fill
      background-color #fff
    & .md-thumb
      top 8px
      &:after
        border-color #fff
        background-color #fff
    & .md-focus-thumb
      background-color #fff
    & .md-focus-ring
      background-color rgba(255,255,255,.2)
      top 2px
.console__buttton--upload
  width 100%
  color #fff
  border-radius 0 !important
  font-size 32px
  background-color colorSecond2
  body[theme='dark'] &
    background-color darkSecond2
  & svg
    fill #fff

.console__format
  display flex
  line-height 1
  margin 0
  padding 0
  font-size 15px
.console__switch-btn
  text-transform none
  &:hover
    background-color transparent !important
.console__switch
  margin 0

.console__logo
  width 85% /* no dep */
  margin 15px

//.console__include
//.console__logo
.console__stat
  padding 10px
  font-size 10px
  text-align center
  line-height 1
.console__user-limit
.console__greating
.console__links
  padding 5px 10px
  font-size 10px
.console__username
  color colorSecond2
  body[theme='dark'] &
    color darkSecond2
.console__listeners
.console__active-users
  font-size 16px
.console__limit
  opacity .99
.console__link
  display inline-block
  color colorSecond2
  body[theme='dark'] &
    color darkSecond2
.console__login-btn
  text-transform none
  width 100%

.switcher
  height 100%
  margin 5px
  &.play
    & .c
      fill colorSecond1
      body[theme='dark'] &
        fill darkSecond1
    & .b3
    & .b2
    & .b1
      stroke colorSecond1
      body[theme='dark'] &
        stroke darkSecond1

.muzoblob
  width 100%
  height 4rem
  position absolute
  bottom .5rem
  & g
    fill #009688

.muzoblob__blockquote
  position absolute
  bottom 75px
  width 100%
  margin 0
  background #484848
  color #bbb
  font-size 12px
  & + p
    margin 10px 150px 2em 0
    text-align right
    font-style italic
  &:before
    content ""
    position absolute
    bottom -30px
    right 40px
    border-width 0 0 30px 50px
    border-style solid
    border-color transparent #484848
    display block
    width 0
  &:after
    content ""
    position absolute
    bottom -30px
    right 70px
    border-width 0 0 30px 20px
    border-style solid
    border-color transparent #333
    display block
    width 0

@media screen and (max-height: 480px)
  .muzoblob
  .muzoblob__blockquote
    display none
/* this animation is so bad for perf */
//    & .c
//      fill #FFE780
//    & .b3
//      animation-name dance
//      animation-duration 1s
//      animation-delay 1s
//      animation-fill-mode both
//      animation-iteration-count infinite
//    & .b2
//      animation-name dance
//      animation-duration 1s
//      animation-delay .66s
//      animation-fill-mode both
//      animation-iteration-count infinite
//    & .b1
//      animation-name dance
//      animation-duration 1s
//      animation-delay .33s
//      animation-fill-mode both
//      animation-iteration-count infinite
//@keyframes dance
//  0%
//    stroke #FFE780
//  100%
//    stroke #FFCC00


