.md-sidenav-left
  & .console__switcher-cont
    background-color #333
    min-height 36px
    height 36px
    max-height 36px
.console__ctrl
  height calc(100vh - 36px)
.console__include
  background-color #333 !important


@media screen and (min-width: 960px)
  .md-sidenav-left
    & .console__switcher-cont
      background-color #333
      min-height 60px
      height 60px
      max-height 60px
      padding 5px
  .console__ctrl
    height calc(100vh - 60px)


.console
  & md-slider
    width 85%
    & .md-track
      background-color #777
      border-radius 5px
    & .md-track-container
      height 8px
    & .md-track-fill
      background-color #fff
    & .md-thumb
      top 8px
      &:after
        border-color #fff
        background-color #fff
    & .md-focus-thumb
      background-color #fff
    & .md-focus-ring
      background-color rgba(255,255,255,.2)
      top 2px
.console__buttton--upload
  background-color #FFCD00
  width 100%
  color #fff
  border-radius 0 !important
  font-size 32px

.console__logo
  width 85%
  margin 15px

//.console__include
//.console__logo
.console__stat
  padding 10px
  font-size 10px
  text-align center
  line-height 1
.console__user-limit
.console__greating
.console__links
  padding 5px 10px
  font-size 10px
.console__username
  color #FFCD00
.console__listeners
.console__active-users
  font-size 16px
.console__limit
  opacity .99
.console__link
  display inline-block
  color #FFCD00
.console__login-btn
  text-transform none
  width 100%

.switcher
  height 100%
  margin 5px
  &.play
    & .c
      fill #FFE780
    & .b3
      animation-name dance
      animation-duration 1s
      animation-delay 1s
      animation-fill-mode both
      animation-iteration-count infinite
    & .b2
      animation-name dance
      animation-duration 1s
      animation-delay .66s
      animation-fill-mode both
      animation-iteration-count infinite
    & .b1
      animation-name dance
      animation-duration 1s
      animation-delay .33s
      animation-fill-mode both
      animation-iteration-count infinite
@keyframes dance
  0%
    stroke #FFE780
  100%
    stroke #FFCC00


