body.theme--day
  & .chat
    color colorChat
  .chat__input-grp
    border-top 3px solid dividerColor
    background-color colorChatInputBG
    & md-input-container
      &.md-input-focused
        & .md-input
          border-color thirdPartColor !important
        & label
          color thirdPartColor !important
      & .chat__button--irony
        color red
  .chat__item
    border-bottom 1px solid mdPrimaryColor
    background-color textPrimaryColor
    & .md-tile-content
      &.private
        background colorChatItemPrivateBG
  .msg__author
    color colorChatItemAuthor
  .msg__message
    & .irony
      color red
  .msg__time
    color darkTextColor

