<div ng-controller="ChatCtrl" class="chat__module">

  <md-content class="chat__md-content" scroll-glue>
    <md-list class="chat__list">
      <md-item ng-repeat="msg in messages" class="chat__list-item">
        <md-item-content class="chat__item">
          <div class="md-tile-content" class="chat__item-content" ng-class="{ 'private': msg.pm, 'personal': msg.type }">
            <span class="msg__author" ng-click="addNick(msg.uname)">{{msg.uname}}:</span>
            <span class="msg__message" ng-bind-html='msg.m'></span>
            <span class="msg__time">{{msg.t |timeago }}</span>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>

  <div class="online__include" ng-include="'components/online/online.html'"></div>

  <div class="chat__input-grp">
    <md-input-container flex>
      <label>начинай вводить...</label>
      <textarea id="chatInput" class="chat__input" label="начинай вводить..." ng-enter="sendMessage()" ng-model="message" columns="1" md-maxlength="240"></textarea>
      <div class="chat__input-nav">
        <md-button class="chat__button--bold" aria-label="chat-bold">bold</md-button>
        <md-button class="chat__button--irony" aria-label="chat-irony">irony</md-button>
        <md-checkbox ng-model="data.tink" aria-label="Тиньк" class="chat__checkbox--tink">
          Тиньк
        </md-checkbox>
        <md-checkbox ng-model="data.img" aria-label="Картинки" class="chat__checkbox--img">
          Картинки
        </md-checkbox>
      </div>
    </md-input-container>
  </div>

</div>
