.chat
  font-size 13px
  height 100%
  color #000
  & .chat__module
    height 100%
    overflow hidden
    display flex
    flex-flow row wrap
  & .chat__list
    height 100%
    width 100%
.chat__input-grp
  width 100%
  border-top 3px solid #bbb
  height 90px
  margin 0
  padding 0
  display flex
  flex 1 100%
  flex-flow row wrap
  & md-input-container
    position relative
    margin 0
    padding 0
    width 100%
    overflow hidden
    & .md-input
      line-height 1 !important
      width 100%
      //height calc(100% - 24px) !important
      margin-bottom 24px
      overflow auto
    &.md-input-focused
      & .md-input
        border-color #FFCD00 !important
        height 46px
      & label
        color #FFCD00 !important
  & .chat__input-nav
    position absolute
    bottom 0
    left 0
    right 0
    height 24px
    display flex
    align-self flex-end
    flex 1 100%
    justify-content flex-start
    align-items center
    & .chat__checkbox--tink
    & .chat__checkbox--img
      display inline
      margin 0
      font-size 11px
      padding 0 6px
      margin 0
      height 100%
      & .md-label
        vertical-align text-top
        margin-left 4px
        border none !important
        margin-bottom 2px
    & .chat__button--bold
    & .chat__button--irony
      text-decoration none
      text-transform none
      font-size 12px
      margin 0
      padding 0 4px
      height 100%
      & .md-button-inner
        padding 0 6px
    & .chat__button--bold
      font-weight 800
    & .chat__button--irony
      font-style italic
      color red
.chat__md-content
  height calc(100% - 90px)
  overflow-x hidden
  display flex
.chat__item
  border-bottom 1px solid #eee
  & .md-tile-content
    padding 6px
    display flex
    flex-flow row nowrap
    &.private
      background #F5F5F5
    &.personal
      font-weight bold
.msg__author
  font-weight bold
  display flex
  padding-right 6px
.msg__message
  display flex
  flex 1
  flex-wrap wrap
  word-wrap break-word
  & img
    object-fit contain
    width 100%
.msg__time
  color #ddd
  font-size 10px
  justify-content flex-end
  display flex
  min-width 48px
@media screen and (max-width: 599px)
  .online__include
  .msg__time
    display none !important
