<div ng-controller="ChatCtrl" class="chat__module" ng-class="{ 'chat__module--extended': isChatExtended === true }">


  <md-content class="chat__md-content" scroll-glue>
    <md-button aria-label="chat--loadmore" class="chat__loadmore" ng-click="loadMore()">Load more</md-button>
    <md-list class="chat__list">
      <md-item ng-repeat="msg in messages" class="chat__list-item">
        <md-item-content class="chat__item">
          <div class="md-tile-content" class="chat__item-content" ng-class="{ 'private': msg.pm, 'personal': msg.type }">
            <span class="msg__author" ng-click="addNick(msg.uname)">{{msg.uname}}:</span>
            <span class="msg__message" compile='msg.m'></span>
            <span class="msg__time" am-time-ago="msg.t"></span>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>

  <md-button class="chat__show-online" ng-click="setOnline()" aria-label="chat-show-online" ng-class="{ 'chat__show-online--open': showOnline }">
    <ng-md-icon icon="keyboard_arrow_left" size="24"></ng-md-icon>
  </md-button>

  <div class="online__include" ng-include="'components/online/online.html'" ng-class="{ 'online__include--open': showOnline }"></div>

  <div class="chat__input-grp">
    <md-input-container flex>
      <label>{{ 'startTyping' | translate }}</label>
      <textarea id="chatInput" class="chat__input" ng-enter="sendMessage()" ng-change="checkMessage()" ng-model="message" columns="3" md-maxlength="700" autofocus></textarea>
      <div class="chat__input-nav">
        <md-button class="chat__button--bold" ng-click="setBold()" aria-label="chat-bold">{{ 'chatBold' | translate }}</md-button>
        <md-button class="chat__button--irony" ng-click="setIrony()" aria-label="chat-irony">{{ 'chatIrony' | translate }}</md-button>
        <md-checkbox ng-model="settings.tink" ng-change="setTink()" class="chat__checkbox--tink">
          {{ 'chatTink' | translate }}
        </md-checkbox>
        <md-checkbox ng-model="settings.img" ng-change="setImg()" class="chat__checkbox--img">
          {{ 'chatImg' | translate }}
        </md-checkbox>
      </div>
    </md-input-container>
  </div>

</div>
