.profile__include
.profile__ctrl
  height 100%
  overflow-x hidden
  & md-card
    background-color #eee
    color #000
    padding 12px
    display flex
    flex-flow column nowrap
.profile__tabpanel-container
  display flex
  height calc(100% - 60px)
  & [role="tabpanel"]
    height calc(100% - 60px) !important
