<!--<div class="profile__ctrl" ng-controller="ProfileCtrl">-->
<div class="profile__ctrl">

  <ng-switch on="profileTab" class="profile__tabpanel-container">
    <div role="tabpanel" id="tabUser-content" aria-labelledby="tabUser" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" >
      <div class="user__include h" ng-include="'components/user/user.html'"></div>
    </div>
    <div role="tabpanel" id="tabUploads-content" aria-labelledby="tabUploads" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" >
      <div class="uploads__include" ng-include="'components/uploads/uploads.html'"></div>
    </div>
    <div role="tabpanel" id="tabPluses-content" aria-labelledby="tabPluses" ng-switch-when="2" md-swipe-left="next()" md-swipe-right="previous()" >
      <div class="pluses__include" ng-include="'components/pluses/pluses.html'"></div>
    </div>
    <div role="tabpanel" id="tabMinuses-content" aria-labelledby="tabMinuses" ng-switch-when="3" md-swipe-left="next()" md-swipe-right="previous()" >
      <div class="minuses__include" ng-include="'components/minuses/minuses.html'"></div>
    </div>
    <div role="tabpanel" id="tabSettings-content" aria-labelledby="tabSettings" ng-switch-when="4" md-swipe-left="next()" md-swipe-right="previous()" ng-show="isMe">
      <div class="settings__include" ng-include="'components/settings/settings.html'"></div>
    </div>
  </ng-switch>

  <md-tabs class="md-accent" md-selected="profileTab" md-stretch-tabs="never">
    <md-tab ng-click="setProfileTab(0)" id="tabUser" aria-controls="tabUser-content">
      <span class="tabs__full">{{ 'profileUser' | translate }}</span>
      <span class="tabs__icon">
        <ng-md-icon icon="home" size="24"></ng-md-icon>
      </span>
    </md-tab>
    <md-tab ng-click="setProfileTab(1)" id="tabUploads" aria-controls="tabUploads-content">
      <span class="tabs__full">{{ 'profileUploads' | translate }}</span>
      <span class="tabs__icon">
        <ng-md-icon icon="file_upload" size="24"></ng-md-icon>
      </span>
    </md-tab>
    <md-tab ng-click="setProfileTab(2)" id="tabPluses" aria-controls="tabPluses-content">
      <span class="tabs__full">{{ 'profilePluses' | translate }}</span>
      <span class="tabs__icon">
        <ng-md-icon icon="thumb_up" size="24"></ng-md-icon>
      </span>
    </md-tab>
    <md-tab ng-click="setProfileTab(3)" id="tabMinuses" aria-controls="tabMinuses-content">
      <span class="tabs__full">{{ 'profileMinuses' | translate }}</span>
      <span class="tabs__icon">
        <ng-md-icon icon="thumb_down" size="24"></ng-md-icon>
      </span>
    </md-tab>
    <md-tab ng-click="setProfileTab(4)" id="tabSettings" aria-controls="tabSettings-content" ng-show="isMe">
      <span class="tabs__full">{{ 'profileSettings' | translate }}</span>
      <span class="tabs__icon">
        <ng-md-icon icon="settings" size="24"></ng-md-icon>
      </span>
    </md-tab>
  </md-tabs>

</div>


