.profile__include
.profile__ctrl
  height 100%
  overflow-x hidden
  & md-card
    background-color #fff
    color #000
    padding 12px
    display flex
    flex-flow column nowrap
.profile__tabpanel-container
  display flex
@media screen and (min-width: 601px)
  .profile__tabpanel-container
    height calc(100% - 60px)
    & [role="tabpanel"]
      height calc(100% - 60px) !important
/* 60 - bottom panel heigth */
@media screen and (max-width: 600px)
  .profile__tabpanel-container
    height calc(100% - 36px)
    & [role="tabpanel"]
      height calc(100% - 36px) !important
/* 36 - bottom panel heigth */
