@media screen and (min-width: 601px)
  .md-tabs-content
    height -webkit-calc(100vh - 60px) /* 60px(tabsdemoStaticTabs .md-header) */
    height calc(100vh - 60px) /* 60px(tabsdemoStaticTabs .md-header) */
@media screen and (max-width: 600px)
  .md-tabs-content
    height -webkit-calc(100vh - 72px) /* 36px(tabsdemoStaticTabs .md-header) + 36px(.playlist__toolbar, .playlist__toolbar-tools)*/
    height calc(100vh - 72px) /* 36px(tabsdemoStaticTabs .md-header) + 36px(.playlist__toolbar, .playlist__toolbar-tools)*/

/* Use icon fallback instead of text in md-tabs for small screens */
@media screen and (min-width: 1024px)
  .tabs__icon
    display none
@media screen and (max-width: 1023px)
  .tabs__full
    display none

/* Chat and Online modules media-queries (depends with each other (100% in summ)) */
@media screen and (max-width: 600px)
  .chat__md-content
    flex 0 0 100%
@media screen and (min-width: 600px) and (max-width: 860px)
  .chat__md-content
    flex 0 0 80%
  .online__include
    flex 0 0 20%
@media screen and (min-width: 861px) and (max-width: 960px)
  .chat__md-content
    flex 0 0 85%
  .online__include
    flex 0 0 15%
@media screen and (min-width: 961px) and (max-width: 1024px)
  .chat__md-content
    flex 0 0 82.5%
  .online__include
    flex 0 0 17.5%
@media screen and (min-width: 1025px)
  .chat__md-content
    flex 0 0 80%
  .online__include
    flex 0 0 20%
