<div ng-controller="InfoCtrl" class="tabsdemoStaticTabs" layout="column">

  <md-tabs md-selected="selectedIndex" flex>

    <md-tab id="tabChat" aria-controls="tabChat-content" ng-show="load.signed">
      <md-tab-label>
        <span class="tabs__full">{{ 'infoTabChat' | translate }}</span>
        <span class="tabs__icon">
          <ng-md-icon icon="chat" size="24"></ng-md-icon>
        </span>
      </md-tab-label>
      <div class="chat" ng-include="'components/chat/chat.html'" ng-show="load.signed"></div>
    </md-tab>

    <md-tab id="tabHistory" aria-controls="tabHistory-content">
      <md-tab-label>
        <span class="tabs__full">{{ 'infoTabHistory' | translate }}</span>
        <span class="tabs__icon">
          <ng-md-icon icon="history" size="24"></ng-md-icon>
        </span>
      </md-tab-label>
      <div class="history" ng-include="'components/history/history.html'"></div>
    </md-tab>

    <md-tab id="tabDemocracy" aria-controls="tabDemocracy-content">
      <md-tab-label>
        <span class="tabs__full">{{ 'infoTabDemocracy' | translate }}</span>
        <span class="tabs__icon">
          <ng-md-icon icon="whatshot" size="24"></ng-md-icon>
        </span>
      </md-tab-label>
      <div class="democracy__include" ng-include="'components/democracy/democracy.html'"></div>
    </md-tab>

    <md-tab id="tabProfile" aria-controls="tabProfile-content" ng-show="load.signed">
      <md-tab-label>
        <span class="tabs__full">{{ 'infoTabProfile' | translate }}</span>
        <span class="tabs__icon">
          <ng-md-icon icon="person" size="24"></ng-md-icon>
        </span>
      </md-tab-label>
      <div class="profile__include" ng-include="'components/profile/profile.html'"></div>
    </md-tab>

  </md-tabs>

</div>
