@media screen and (min-width: 601px)
  .md-tabs-content
    height "calc(100% - %s)" % (basicTrackHeight - 1px)
@media screen and (max-width: 600px)
  .md-tabs-content
    height "calc(100% - %s)" % (basicTrackHeight + toolbarHeight)

/* Use icon fallback instead of text in md-tabs for small screens */
@media screen and (min-width: 1024px)
  .tabs__icon
    display none
@media screen and (max-width: 1023px)
  .tabs__full
    display none
