.user__id
  color #bbb
.user__votes-block
  &.voted--up
    .user__vote--up
      color colorSecond1
    .user__vote--down
      color colorGray4
    .user__karma
      color colorSecond1
  &.voted--down
    .user__vote--up
      color colorGray4
    .user__vote--down
      color colorNegative
    .user__karma
      color colorNegative
.user__vote--up
.user__vote--down
  background-color transparent !important
  box-shadow none !important
.user__karma
  color #bbb
.user__father
  background transparent
  color colorSecond2
.user__ban
  background-color colorSecond2
  color #fff
