.user__include
  font-size 13px

.user__nav
  display flex
  flex-flow nowrap
  justify-content space-between
  align-items center
.user_names-block
  display flex
  flex-flow column wrap
.user__name
  color inherit
.user__id
  color inherit
.user__votes-block
  display flex
  flex-flow row nowrap
  align-items center
.user__vote--up
.user__karma
.user__vote--down
  color inherit


.user__main
  display flex
  flex-flow row nowrap
.user__img
  width 200px
  min-width 200px
  max-width 200px
  height 200px
  max-height 200px
  min-height 200px
.user__additional
  padding 0 10px
.user__descripton
  margin 3px 0
.user__origin
  @extend .user__descripton;
.user__regdate
  @extend .user__descripton;
.user__father
  text-transform none
  background transparent
  border none
  color #eba400
  text-decoration underline
.user__invited
  @extend .user__descripton;
.user__children
  margin 3px 0
.user__child
  @extend .user__father;

.user__control
  @extend .user__nav;
//.user__ignore
.user__ban
  text-transform none
  background-color #ffcd00
  color #fff

@media screen and (max-width: 500px)
  .user__main
    flex-flow column wrap
  .user__additional
  .user__img
    width 100%
