<div class="user__ctrl" ng-controller="UserCtrl">

  <md-card class="profile__main">

    <div class="user__nav">
      <div class="user_names-block">
        <span class="user__name">{{user.name}}</span>
        <span class="user__id">#{{user.id}}</span>
      </div>
      <div class="user__votes-block">
        <md-button class="md-fab user__vote--up" aria-label="user-plus" ng-show="!isMyProfile" ng-click="voteUp(track.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
          </svg>
        </md-button>
        <span class="user__karma">{{user.karma}}</span>
        <md-button class="md-fab user__vote--down" aria-label="user-minus" ng-show="!isMyProfile" ng-click="voteDown(track.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
          </svg>
        </md-button>
      </div>
    </div>

    <div class="user__main">
      <img class="user__img" ng-src="assets/images/ear.png" alt="">
<!--      <img class="user__img" ng-src="assets/images/{{user.pic}}" alt="">-->
      <div class="user__additional">
        <p class="user__descripton">
          {{user.i}}
        </p>
        <p class="user__origin">
          С нами с <span class="user__regdate">{{user.reg | date:'medium'}}</span> по приглашению <button class="user__father" aria-label="user-origin">{{user.invites.p.name}}</button>
        </p>
        <p class="user__invited">{{user.g ? 'Понаприглашал' : 'Понаприглашала'}}:
          <span class="user__children" ng-repeat="child in user.invites.u">
            <button class="user__child" aria-label="user-child">{{child.n}}</button>
          </span>
        </p>
      </div>
    </div>

    <div class="user__control">
      <md-checkbox ng-model="data.img" aria-label="ОМММ" class="user__ignore">
        ОМММ
      </md-checkbox>
      <md-button class="user__ban" aria-label="user-ban">Забанить</md-button>
    </div>

  </md-card>

</div>
