<div class="user__ctrl h" ng-controller="UserCtrl">

  <md-card class="user__main h" ng-class="{ 'swiped': swiped === true }">

    <div class="user__swipe-cont user__swipe-cont--first">

      <md-content class="user__md-main">
        <div class="user__nav">
          <div class="user_names-block">
            <span class="user__name">{{user.name}}</span>
            <span class="user__id">#{{user.id}}</span>
          </div>
          <div class="user__votes-block" ng-class="{ 'voted--up': user.vote == 'plus', 'voted--down': user.vote == 'minus' }">
            <md-button ng-click="userVoteDown(user.id)" class="md-fab user__vote--down" aria-label="user-minus" ng-show="!isMe">
              <ng-md-icon icon="expand_more" size="24"></ng-md-icon>
            </md-button>
            <span class="user__karma">{{user.karma}}</span>
            <md-button ng-click="userVoteUp(user.id)" class="md-fab user__vote--up" aria-label="user-plus" ng-show="!isMe">
              <ng-md-icon icon="expand_less" size="24"></ng-md-icon>
            </md-button>
          </div>
        </div>

        <div class="user__main">
    <!--      <img class="user__img" ng-src="assets/images/ear.png" alt="">-->
          <figure class="user__img-cont" ng-class="{ 'user__img-cont--edit': edit === true, 'user__img-cont--save': save === true }">
            <img class="user__img" ng-src="{{user.pic}}" alt="">
            <md-button class="user__edit-avatar" ng-click="editAvatar()" aria-label="user-plus" ng-show="isMe">
              <ng-md-icon icon="mode_edit" size="12"></ng-md-icon>
            </md-button>
            <md-button class="user__save-avatar" ng-click="saveAvatar()" aria-label="user-plus" ng-show="isMe">
              <ng-md-icon icon="save" size="24"></ng-md-icon>
            </md-button>
            <figcaption class="user__img-tooltip">
              <md-input-container class="user__img-input-container">
                <label class="user__img-input-label">URL of avatar:</label>
                <input type="url" inputmode="latin" aria-label="img-new-avatar" ng-model="avatarUrl" class="user__img-input">
              </md-input-container>
              <md-button class="user__img-submit" ng-click="previewAvatar()" aria-label="user-plus" ng-show="isMe">
                <ng-md-icon icon="file_upload" size="24"></ng-md-icon>
              </md-button>
            </figcaption>
          </figure>
          <div class="user__additional">
            <p class="user__descripton" ng-bind-html="user.i"></p>
            <p class="user__origin">
              {{ 'userRegDate' | translate }}
              <span class="user__regdate">{{user.reg | date:'d.MM.y'}}</span>
              <span class="user__invitedby" ng-show="user.invites.p.name">
                {{ 'userInvitedBy' | translate }}
                <button class="user__father" ng-click="openProfile(user.invites.p.id)" aria-label="user-origin">{{user.invites.p.name}}</button>
              </span>
            </p>
            <p class="user__invited" ng-show="user.invites.u.length">
    <!--         {{user.g ? 'Понаприглашал' : 'Понаприглашала'}}:-->
              {{ 'userInvite' | translate }}
              <span class="user__children" ng-repeat="child in user.invites.u">
                <button class="user__child" ng-click="openProfile(child.id)" aria-label="user-child">{{child.n}}</button>
              </span>
            </p>
          </div>
        </div>

        <div class="user__control">
          <md-checkbox ng-model="data.img" aria-label="ОМММ" class="user__ignore">
            {{ 'userIgnore' | translate }}
          </md-checkbox>
          <md-button class="user__ban" aria-label="user-ban">{{ 'userBan' | translate }}</md-button>
        </div>
      </md-content>

    </div>

    <div class="user__swiper" ng-click="swipe()"></div>

    <div class="user__swipe-cont user__swipe-cont--second">

      <div class="user__relation" style="flex: {{user.n.length/(user.p.length+user.n.length)}}">

        <h4 class="user__relations-header">Haters(<span class="user__relations-counter">{{user.n.length}}</span>):</h4>
        <md-content class="user__md-content">
          <md-list class="user__list">
            <md-item ng-repeat="n in user.n" class="user__list-item">
              <md-item-content class="user__item" ng-class="{active: user.a==true}">
                <md-button ng-click="openProfile(n.vid)" aria-label="open-user-profile" class="user__2profile">i</md-button>
                <md-button ng-click="addNick(n.n)" aria-label="add-user-to-chat" class="user__2chat">{{n.n.length && n.n || 'Deleted'}}</md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-content>
      </div>

      <div class="user__relation" style="flex: {{user.p.length/(user.p.length+user.n.length)}};">
        <h4 class="user__relations-header">Lovers(<span class="user__relations-counter">{{user.p.length}}</span>):</h4>
        <md-content class="user__md-content">
          <md-list class="user__list">
            <md-item ng-repeat="p in user.p" class="user__list-item">
              <md-item-content class="user__item" ng-class="{active: user.a==true}">
                <md-button ng-click="openProfile(p.vid)" aria-label="open-user-profile" class="user__2profile">i</md-button>
                <md-button ng-click="addNick(p.n)" aria-label="add-user-to-chat" class="user__2chat">{{p.n.length && p.n || 'Deleted'}}</md-button>
              </md-item-content>
            </md-item>
          </md-list>
        </md-content>
      </div>

    </div>

  </md-card>

</div>
