divider = 12px;

.user__include
  font-size 13px

.user__nav
  display flex
  flex-flow nowrap
  justify-content space-between
  align-items center
.user_names-block
  display flex
  flex-flow column wrap
.user__name
  font-size 20px
  font-weight 100
.user__id
  font-size 12px
  color #bbb
.user__votes-block
  display flex
  flex-flow row nowrap
  align-items center
  &.voted--up
    .user__vote--up
      color colorSecond1
      body[theme='dark'] &
        color darkSecond1
    .user__vote--down
      color colorGray4
      body[theme='dark'] &
        color darkGray4
    .user__karma
      color colorSecond1
      body[theme='dark'] &
        color darkSecond1
  &.voted--down
    .user__vote--up
      color colorGray4
      body[theme='dark'] &
        color darkGray4
    .user__vote--down
      color colorNegative
      body[theme='dark'] &
        color darkNegative
    .user__karma
      color colorNegative
      body[theme='dark'] &
        color darkNegative

.user__vote--up
.user__vote--down
  color inherit
  box-shadow none !important
  background-color transparent !important
.user__karma
  font-weight 100
  font-size 23px
  color #bbb


.user__main
  display flex
  flex-flow row nowrap
  overflow hidden
  margin 0
  position relative
  border-radius 0 !important
  &.swiped
    .user__swipe-cont
      &--first
        left "calc(-100% + %s)" % (divider)
      &--second
        left divider
    .user__swiper
      background-color #009688
      left 0
      transition left 1s ease, right 1s ease, background-color 1s ease
      &:hover
        background-color #555
.user__swipe-cont
  width "calc(100% - %s)" % (divider)
  height 100%
  padding 0
  margin 0
  position absolute
  transition left 1s ease, right 1s ease
  &--first
    left 0
  &--second
    left 100%
    display flex
    flex-flow row nowrap

.user__relation
  min-width 7rem /* .user__list-item width 7rem - min 1 column */
  height 100%
  &:first-child
    & .user__md-content
      border-right 1px solid #ddd
.user__relations-header
  font-size 1.2rem
  height 2rem
  margin 0
  text-align center
.user__md-content
  height calc(100% - 2rem)
.user__list
  height 100%
  padding 0.3rem 0
  display flex
  flex-flow row wrap
  align-content flex-start
.user__list-item
  width 7rem
.user__lovers
.user__haters
  color #000
.user__voter
  color #000

.user__swiper
  position absolute
  left "calc(100% - %s)" % (divider)
  width divider
  height 100%
  background-color #555
  transition left 1s ease, right 1s ease, background-color 1s ease
  &:hover
    background-color #009688
.user__md-main
  display block
  height 100%
  overflow auto
  padding 1rem
.user__img-cont
  display flex
  flex 1
  margin 0
  position relative
  overflow hidden
  &--edit
    & .user__img-tooltip
      opacity 1
      bottom 0
      top initial
      transition all 1s ease
  &--save
    & .user__save-avatar
      top 0
      transition all 1s ease
.user__img
  width 100%
  height auto
  max-height 200px
  min-height 200px
  object-fit cover
.user__edit-avatar
  position absolute
  left 0
  color #fff
  background rgba(0, 0, 0, 0.43)
  border-radius 0 !important
.user__save-avatar
  position absolute
  right 0
  top -100%
  color #fff
  background rgba(0, 0, 0, 0.43)
  border-radius 0 !important
  transition all 1s ease
.user__img-tooltip
  position absolute
  top 100%
  bottom initial
  left 0
  right 0
  background rgba(0, 0, 0, 0.43)
  display flex
  opacity 0
  transition all 1s ease
.user__img-input-container
  padding 0
  flex 1
  & label.user__img-input-label
    color #fff !important
  & input.user__img-input
    color #fff
  &.md-input
  &.md-input-focused
    & input.user__img-input
      border-color #fff !important
      color #fff !important
.user__img-input
  display flex
  flex 1
.user__img-submit
  display flex
  color #fff

.user__additional
  padding 0 10px
  flex 1
.user__descripton
  margin 3px 0
.user__origin
  @extend .user__descripton;
.user__regdate
  @extend .user__descripton;
.user__invitedby
  display inline-block
.user__father
  text-transform none
  background transparent
  border none
  text-decoration underline
  color colorSecond2
  body[theme='dark'] &
    color darkSecond2
.user__invited
  @extend .user__descripton;
.user__children
  margin 3px 0
.user__child
  @extend .user__father;

.user__control
  @extend .user__nav;
//.user__ignore
.user__ban
  text-transform none
  color #fff
  background-color colorSecond2
  body[theme='dark'] &
    background-color darkSecond2

@media screen and (max-width: 500px)
  .user__main
    flex-flow column wrap
  .user__additional
  .user__img-cont
    width 100%
