.user__include
  font-size 13px

.user__nav
  display flex
  flex-flow nowrap
  justify-content space-between
  align-items center
.user_names-block
  display flex
  flex-flow column wrap
.user__name
  font-size 20px
  font-weight 100
.user__id
  font-size 12px
  color #bbb
.user__votes-block
  display flex
  flex-flow row nowrap
  align-items center
  &.voted--up
    .user__vote--up
      color colorSecond1
    .user__vote--down
      color colorGray4
    .user__karma
      color colorSecond1
  &.voted--down
    .user__vote--up
      color colorGray4
    .user__vote--down
      color colorNegative
    .user__karma
      color colorNegative

.user__vote--up
.user__vote--down
  color inherit
  background-color transparent !important
  box-shadow none !important
.user__karma
  font-weight 100
  font-size 23px
  color #bbb


.user__main
  display flex
  flex-flow row nowrap
.user__img-cont
  display flex
  flex 1
.user__img
  width 100%
  height auto
  max-height 200px
  min-height 200px
.user__additional
  padding 0 10px
.user__descripton
  margin 3px 0
.user__origin
  @extend .user__descripton;
.user__regdate
  @extend .user__descripton;
.user__invitedby
  display inline-block
.user__father
  text-transform none
  background transparent
  border none
  color colorSecond2
  text-decoration underline
.user__invited
  @extend .user__descripton;
.user__children
  margin 3px 0
.user__child
  @extend .user__father;

.user__control
  @extend .user__nav;
//.user__ignore
.user__ban
  text-transform none
  background-color colorSecond2
  color #fff

@media screen and (max-width: 500px)
  .user__main
    flex-flow column wrap
  .user__additional
  .user__img-cont
    width 100%
