html
  font-family 'Open Sans', sans-serif !important
  width 100%
  height 100%
  overflow hidden
  font-size 16px
@media screen and (max-width: 599px)
  html
    font-size 14px
@media (min-width: 600px) and (max-width: 959px)
  html
    font-size 15px

*
  -webkit-user-select initial !important
/* material angular is broke user-select */

/* Custom scrollbar - doesn't work in Firefox */
::-webkit-scrollbar
  width 4px
/* Track */
::-webkit-scrollbar-track
  box-shadow none
  border-radius 0
  background #eee
/* Handle */
::-webkit-scrollbar-thumb
  border-radius 0
  box-shadow none
  background #bbb

[layout=row]
  flex-direction row

object
  color currentColor
svg
  fill currentColor
  color currentColor

.viewport
  height 100%
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  width 100%

.h
  height 100%

.md-sidenav-right.md-locked-open
  width initial !important
  min-width initial !important
  max-width initial !important

/* Console style */
.md-sidenav-left
  width 150px !important
  min-width 150px !important
  height 100%
.md-sidenav-right
  height 100%

@media screen and (max-width: 600px)
  .md-sidenav-right
    z-index 64
    width 100% !important
    min-width 100% !important
    height -webkit-calc(100% - 36px)
    height calc(100% - 36px)
    top 36px
    overflow hidden
    position fixed !important

@media (min-width: 600px) and (max-width: 959px)
  .md-sidenav-right
    position fixed !important
    width -webkit-calc(100% - 150px) !important
    width calc(100% - 150px) !important
    min-width -webkit-calc(100% - 150px) !important
    min-width calc(100% - 150px) !important
    top 36px
    height -webkit-calc(100% - 36px)
    height calc(100% - 36px)
    overflow hidden
    z-index 64
  .console__ctrl
    height -webkit-calc(100% - 72px)
    height calc(100% - 72px)
    overflow hidden
  .md-sidenav-left
    top 36px
@media screen and (min-width: 960px)
  .md-sidenav-right
    display flex !important
    flex 3 !important
    z-index 64

.viewport--H
  height 100%
  width 100%
  display flex
  flex-flow row nowrap

/* Info panels */
.infoTab--container .tabpanel-container
  display block
  position relative
  border none
  height -webkit-calc(100% - 60px)
  height calc(100% - 60px)
  overflow hidden
@media screen and (max-width: 960px)
  .infoTab--container .tabpanel-container
    height -webkit-calc(100% - 96px)
    height calc(100% - 96px)

.infoTab--container [role="tabpanel"]
  overflow auto
  width 100%
  height 100%
  transition all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
  position absolute
.infoTab--container [role="tabpanel"].ng-leave.ng-leave-active
.infoTab--container [role="tabpanel"].ng-enter
  top -300px
.infoTab--container [role="tabpanel"].ng-leave
.infoTab--container [role="tabpanel"].ng-enter.ng-enter-active
  top 0
.infoTab--container [role="tabpanel"].ng-leave
  z-index 100
.infoTab--container .md-header
  overflow-x hidden
.infoTab--container .md-header-items-container
  left 0 !important
  right 0 !important
.infoTab--container .md-header-items-container .md-header-items
  -webkit-transform none !important
  transform none !important
  width 100% !important
.infoTab--container md-tab
  text-transform none
  box-sizing content-box
  &:focus
    border-top none
    border-bottom none
.infoTab--container md-tabs-ink-bar
  height 3px

@media screen and (min-width: 601px)
  .infoTab--container .md-header
    height 60px
  .infoTab--container .md-header-items-container
    height 60px
@media screen and (max-width: 600px)
  .infoTab--container .md-header
    height 36px
  .infoTab--container .md-header-items-container
    height 36px

md-tab
  min-width initial !important
  width initial !important
  max-width initial !important
  margin initial !important
  padding 0
  flex 1
md-checkbox .md-label
  border none !important
