div.viewport--H(ng-controller="AppCtrl")

  section.viewport--H

    md-sidenav.md-sidenav-left.md-whiteframe-z2(md-component-id="left" md-is-locked-open="$mdMedia('min-width: 600px')")
      md-toolbar.console__switcher-cont
        svg#audioBtn.switcher(ng-click="togglePlay()" ng-class="{ 'play': play }" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 850.4 595.3" enable-background="new 0 0 850.4 595.3" xml:space="preserve")
          path.b3(fill="none" stroke="#B4B4B4" stroke-width="55.3274" stroke-miterlimit="10" d="M154.7,568.2c-149-149-149-392.1,0-541.1")
          path.b2(fill="none" stroke="#9D9D9D" stroke-width="55.3274" stroke-miterlimit="10" d="M239,483.9C135.1,380,135.1,213.3,239,109.4")
          path.b1(fill="none" stroke="#7F7F7F" stroke-width="55.3274" stroke-miterlimit="10" d="M323.3,399.6c-56.9-56.9-56.9-149,0-205.8")
          circle.c(fill="#7F7F7F" cx="425.2" cy="297.6" r="58.8")
          path.b1(fill="none" stroke="#7F7F7F" stroke-width="55.3274" stroke-miterlimit="10" d="M527.1,195.7c56.9,56.9,56.9,149,0,205.8")
          path.b2(fill="none" stroke="#9D9D9D" stroke-width="55.3274" stroke-miterlimit="10" d="M611.4,111.4c103.9,103.9,103.9,270.5,0,374.4")
          path.b3(fill="none" stroke="#B4B4B4" stroke-width="55.3274" stroke-miterlimit="10" d="M695.7,27.1c149,149,149,392.1,0,541.1")
      md-content.console__ctrl(ng-controller="LeftCtrl")
        div.console(ng-include="'components/console/console.html'")

    div.playlist(ng-include="'components/playlist/playlist.html'")

    md-sidenav.md-sidenav-right.md-whiteframe-z2(md-component-id="right" md-is-locked-open="$mdMedia('min-width: 960px')")
      md-content.h(ng-controller="RightCtrl")
        div.h.info(ng-include="'components/info/info.html'")
