<div ng-controller="AppCtrl" layout="column" layout-fill>
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" component-id="left" is-locked-open="$media('sm')">
      <md-toolbar class="md-theme-indigo">
        <svg class="switcher" ng-click="togglePlay()" ng-class="{'play' : play == true}" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M14.2,41.8c-7.6-7.6-7.6-20,0-27.6"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M18.5,37.5c-5.3-5.3-5.3-13.8,0-19.1"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M22.8,33.2c-2.9-2.9-2.9-7.6,0-10.5"/>
          <circle class="c" fill="#7F7F7F" cx="28" cy="28" r="3"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M33.2,22.8c2.9,2.9,2.9,7.6,0,10.5"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M37.5,18.5c5.3,5.3,5.3,13.8,0,19.1"/>
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M41.8,14.2c7.6,7.6,7.6,20,0,27.6"/>
        </svg>
      </md-toolbar>
      <md-content ng-controller="LeftCtrl">
        <md-button ng-click="close()" class="md-primary" hide-md>Close</md-button>
        <div hide-gt-sm show-gt-md class="console" ng-include="'components/console/console.html'"></div>
      </md-content>
    </md-sidenav>
    <div class="viewport--H">
      <div class="playlist" ng-include="'components/playlist/playlist.html'"></div>

<!--
      <md-button ng-click="toggleRight()" class="md-primary">Toggle right</md-button>
      <md-button ng-click="toggleLeft()" class="md-primary" hide-md>Toggle left</md-button>
-->

    </div>
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" component-id="right" is-locked-open="$media('md')">
      <md-content ng-controller="RightCtrl">
<!--        <md-button ng-click="close()" class="md-primary">Close Sidenav Right</md-button>-->
        <div class="info" ng-include="'components/info/info.html'"></div>
      </md-content>
    </md-sidenav>
  </section>
</div>
