nav.float__button-cont(mfb-menu="" position="br" effect="zoomin"
     label="hide menu"
     active-icon="ion-edit" resting-icon="ion-plus-round"
     toggling-method="click")
  a(mfb-button="" icon="paper-airplane" label="moderator on")
  a(mfb-button="" icon="paper-airplane" label="moderator on")
  a(mfb-button="" icon="paper-airplane" label="moderator on")
