md-content.history__content
  md-list.playlist__list
    md-list.playlist__list
      md-item.playlist__track(ng-repeat="track in tracks | orderBy:'tt':true")
        include _track.jade
        div.track__votes-block(ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed")
          span.track__rating {{ track.r }}/
          span.track__voters-diff {{ track.p.length - track.n.length }}
    md-button.history__loadmore(ng-click="loadMore()" ng-show="tracks.length > 0" aria-label="history--loadmore") Load more

