div.track__img-cont
  img.track__img(ng-src="assets\\images\\nocover.png" lastfm-img="{{ track.t }},{{ track.a }}" alt="{{ track.t }} - {{ track.a }}")
div.track__row
  div.track__base
    div.track__content
      h3.track__artist {{ track.a }}
      h4.track__title {{ track.t }}
    div.track__tags
      span.track__tag(ng-repeat="tag in track.tg") {{ tag.n }}
    div.track__time
      span +{{ track.tt | readableTime }}
  div.track__additional
    div.track__content
      div.track__links
        a.track__link(href="http://vk.com/audio?q={{ track.t }}-{{ track.a }}" target="_blank") &nbsp;>vk
        a.track__link(href="http://www.lastfm.ru/search?q={{ track.t }}+{{ track.a }}" target="_blank") &nbsp;>lastfm
        a.track__link(ng-click="trackToChat(track.id)") &nbsp;>{{ 'trackToChat' | translate }}
      div.track__upload-info {{ 'trackUploadedBy' | translate }}&nbsp;
        a(ng-click="openProfile(track.sid)") {{ track.s }}&nbsp;
        span(am-time-ago="track.ut")
    div.track__tags
      span.track__tag(ng-repeat="tag in track.tg") {{ tag.n }}
    div.track__time
      span +{{ track.tt | readableTime }}
