<div class="minuses__ctrl" ng-controller="MinusesCtrl">

  <md-content class="history__content">
    <md-list layout="column" class="playlist__list">
      <md-item ng-repeat="track in tracks | orderBy:'tt':true" class="playlist__track">
        <div class="track__img-cont">
          <img ng-src="assets\images\nocover.png" class="track__img" alt="" lastfm-img="{{track.t}},{{track.a}}">
        </div>
<div class="track__row">
          <div class="track__base">
            <div class="track__content">
              <h3 class="track__artist">{{track.a}}</h3>
              <h4 class="track__title">{{track.t}}</h4>
            </div>
            <div class="track__tags">
              <span class="track__tag" ng-repeat="tag in track.tg">
                {{tag.n}}
              </span>
            </div>
            <div class="track__time">
              <span am-time-ago="track.tt"></span>
            </div>
          </div>
          <div class="track__additional">
            <div class="track__content">
              <div class="track__links">
                <a href="http://vk.com/audio?q={{track.t}}-{{track.a}}" target="_blank" class="track__link">>vk</a>
                <a href="http://www.lastfm.ru/search?q={{track.t}}+{{track.a}}" target="_blank" class="track__link">>lastfm</a>
                <a class="track__link" ng-click="trackToChat(track.id)">>{{ 'trackToChat' | translate }}</a>
              </div>
              <div class="track__upload-info">
                {{ 'trackUploadedBy' | translate }}&nbsp;
                <a ng-click="openProfile(track.sid)">{{ track.s }}</a>&nbsp;
                <span am-time-ago="track.ut"></span>
              </div>
            </div>
            <div class="track__tags">
              <span class="track__tag" ng-repeat="tag in track.tg">
                {{tag.n}}
              </span>
            </div>
            <div class="track__time">
              <span am-time-ago="track.tt"></span>
            </div>
          </div>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <span class="track__rating">{{track.r}}</span>
          /
          <span class="track__voters-diff">{{track.p.length - track.n.length}}</span>
        </div>
      </md-item>
      <md-button aria-label="history--loadmore" class="history__loadmore" ng-click="loadMore()" ng-show="tracks.length > 0">Load more</md-button>
    </md-list>

  </md-content>

</div>
