colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

colorSecond1 = #eba400;
colorSecond2 = #ffcd00;

colorThird1 = #ffcd00;

colorMainBG = #777
colorBodyBG = #555;
colorMdContentBG = #555;
colorMdCardBG = #444;

/* Playlist */
colorPlaylistToolbarBG = #444;
colorCurrentBG = #444;
colorCurrentBorder = #444;
colorCurrentTitle = #fff;
colorCurrentRating = #fff;
colorCurrentUploadinfo = #fff;
colorProgressBG = #ffcd00;
colorProgressActiveBG = #ffcd00;
colorTrackBorder = #444;
colorTrackBG = #555;
colorTrackGold = #ffcd00;
colorTrackTitle = #fff;
colorTrackTag = #fff;
colorTrackTagBG = #777;
colorTrackTime = #fff;
colorTrackRating = #fff;
colorTrackUploadinfo = #fff;
colorTrackVoteUp = #ffcd00;
colorTrackVoteDown = #E82924;


/* Chat */
colorChat = #fff;
colorChatItemBG = #555;
colorChatInputBorder = #333;
colorChatInputBG = #444;
colorChatInputFocus = #ffcd00;
colorChatItemBorder = #333;
colorChatItemPrivateBG = #666;
colorChatItemAuthor = #ddd;
colorChatInputIrony = #777;
colorChatItemTime = #777;

/* Online */
colorOnlineBG = #777;
colorOnlineText = #fff;
colorOnlineUserBG = #999;
colorOnlineUser = #fff;
colorOnlineUserActive = #ffcd00;

/* Tabs */
colorTab = #fff;
colorTabBG = #444;
colorTabBorder = #333;
colorTabActive = #fff;
colorTabActiveBG = #555;
colorTabHoverBorder = #777;
colorTabFocusBorder = #777;

/* History */
colorHistoryGrpBG = #444;

/*
colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

colorSecond1 = #eba400;
colorSecond2 = #ffcd00;

colorThird1 = #009688;

*/
