colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

/*
Cyan = #009688;
Blue = #04B2EB;
Orange = #FF9619;
Tomato = #FB5937;
Red = #E92924;
*/
colorSecond1 = #eba400;
colorSecond2 = #FFCD00;

colorThird1 = #FFCD00;

colorMainBG = #fff;
colorBodyBG = #fff;
colorMdContentBG = #fff;
colorMdCardBG = #fff;

/* Playlist */
colorPlaylistToolbarBG = #444;
colorCurrentBG = #333;
colorCurrentBorder = #333;
colorCurrentTitle = #fff;
colorCurrentRating = #bbb;
colorCurrentUploadinfo = #fff;
colorProgressBG = #777;
colorProgressActiveBG = colorSecond2;
colorTrackBorder = #eee;
colorTrackBG = #fff;
colorTrackGold = colorSecond2;
colorTrackTitle = #000;
colorTrackTag = #fff;
colorTrackTagBG = #666666;
colorTrackTime = #000;
colorTrackRating = #bbb;
colorTrackUploadinfo = #000;
colorTrackVoteUp = colorSecond2;
colorTrackVoteDown = #E82924;


/* Chat */
colorChat = #000;
colorChatItemBG = #fff;
colorChatInputBorder = #bbb;
colorChatInputBG = #fff;
colorChatInputFocus = colorSecond2;
colorChatItemBorder = #eee;
colorChatItemPrivateBG = #f5f5f5;
colorChatItemAuthor = #000;
colorChatInputIrony = red;
colorChatItemTime = #ddd;

/* Online */
colorOnlineBG = #fff;
colorOnlineText = #aaa;
colorOnlineUser = #aaa;
colorOnlineUserI = #fff;
colorOnlineUserBG = #aaa;
colorOnlineUserActive = colorSecond1;

/* Tabs */
colorTab = #aaa;
colorTabBG = #fff;
colorTabBorder = #E0E0E0;
colorTabActive = #000;
colorTabActiveBG = #fff;
colorTabActiveBorder = colorSecond2;
colorTabHoverBorder = #333;
colorTabFocusBorder = #E0E0E0;
//colorTabFocusBorderBottom = #333;

/* History */
colorHistoryGrpBG = #eee;

/*
colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

colorSecond1 = #eba400;
colorSecond2 = #ffcd00;

colorThird1 = #009688;

*/
