colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

colorSecond1 = #eba400;
colorSecond2 = #ffcd00;

colorThird1 = #ffcd00;

colorMainBG = #fff;
colorBodyBG = #fff;
colorMdContentBG = #fff;
colorMdCardBG = #fff;

/* Playlist */
colorPlaylistToolbarBG = #444;
colorCurrentBG = #444;
colorCurrentBorder = #444;
colorCurrentTitle = #fff;
colorCurrentRating = #fff;
colorCurrentUploadinfo = #fff;
colorProgressBG = #777;
colorProgressActiveBG = #ffcd00;
colorTrackBorder = #eee;
colorTrackBG = #fff;
colorTrackGold = #ffcd00;
colorTrackTitle = #000;
colorTrackTag = #fff;
colorTrackTagBG = #eee;
colorTrackTime = #000;
colorTrackRating = #000;
colorTrackUploadinfo = #000;
colorTrackVoteUp = #ffcd00;
colorTrackVoteDown = #E82924;


/* Chat */
colorChat = #000;
colorChatItemBG = #fff;
colorChatInputBorder = #777;
colorChatInputBG = #fff;
colorChatInputFocus = #ffcd00;
colorChatItemBorder = #eee;
colorChatItemPrivateBG = #eee;
colorChatItemAuthor = #ddd;
colorChatInputIrony = #eee;
colorChatItemTime = #eee;

/* Online */
colorOnlineBG = #fff;
colorOnlineText = #333;
colorOnlineUserBG = #555;
colorOnlineUser = #000;
colorOnlineUserActive = #ffcd00;

/* Tabs */
colorTab = #000;
colorTabBG = #fff;
colorTabBorder = #eee;
colorTabActive = #000;
colorTabActiveBG = #eee;
colorTabHoverBorder = #ccc;
colorTabFocusBorder = #ccc;

/* History */
colorHistoryGrpBG = #eee;

/*
colorGray1 = #333;
colorGray2 = #394144;
colorGray3 = #666;
colorGray4 = #A4A6A7;
colorGray5 = #D9D9D9;

colorSecond1 = #eba400;
colorSecond2 = #ffcd00;

colorThird1 = #009688;

*/
