@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,700|Roboto:400,700,700italic,400italic")

html
  font-family 'Open Sans', sans-serif !important
  width 100vw
  height 100vh
  overflow hidden

*
  -webkit-user-select initial !important
//body
//  scrollbar-base-color #C0C0C0
//  scrollbar-base-color #C0C0C0
//  scrollbar-3dlight-color #C0C0C0
//  scrollbar-highlight-color #C0C0C0
//  scrollbar-track-color #EBEBEB
//  scrollbar-arrow-colo: black
//  scrollbar-shadow-color #C0C0C0
//  scrollbar-dark-shadow-color #C0C0C0

::-webkit-scrollbar-track
  -webkit-box-shadow none
  background-color #F5F5F5
::-webkit-scrollbar
  width 6px
  background-color #F5F5F5
::-webkit-scrollbar-thumb
  background-color rgba(77,77,77,.25)

[layout=row]
  flex-direction row


/*
* t-(a || b)-{type}
* t == typography
* b == before
* a == :after
* type == space, semicolon or others
*/
.t-a-semicolon
  &:after
    content ':'
.t-b-space
  &:before
    content ' '
.t-b-space-hyphen-space
  &:before
    content ' - '
.t-a-space-hyphen-space
  &:after
    content ' - '


.viewport
  height 100%

// injector
@import '../components/chat/chat.styl';
@import '../components/console/console.styl';
@import '../components/current/current.styl';
@import '../components/democracy/democracy.styl';
@import '../components/history/history.styl';
@import '../components/info/info.styl';
@import '../components/markdown/markdown.styl';
@import '../components/online/online.styl';
@import '../components/playlist/playlist.styl';
@import '../components/upload/uploader.styl';
// endinjector

.md-sidenav-left
  background #333
  width 150px
  min-width 150px
  & md-content.md-default-theme
    background-color #333
.md-sidenav-right
  width 120%
  z-index 6

@media screen and (max-width: 600px)
  .md-sidenav-right
    position fixed !important
    width 100%
    top 36px
    height calc(100vh - 36px)
    overflow hidden
    z-index 7

@media (min-width: 600px) and (max-width: 960px)
  .md-sidenav-right
    position fixed !important
    width calc(100% - 150px)
    top 36px
    height calc(100vh - 36px)
    overflow hidden
    z-index 7
  .console__ctrl
    height calc(100vh - 72px)
    overflow hidden
  .md-sidenav-left
    top 36px

.viewport--H
  height 100vh
  width 100%

.tabsdemoStaticTabs
  opacity 1
  & #tabHistory-content
    background-color #673AB7
  & #tabDemocracy-content
    background-color #00796B
  & #tabProfile-content
    background-color #f0f
.tabsdemoStaticTabs .tabpanel-container
  display block
  position relative
  background white
  border 0px solid black
  height calc(100vh - 60px)
  overflow hidden
@media screen and (max-width: 960px)
  .tabsdemoStaticTabs .tabpanel-container
    height calc(100vh - 96px)

.tabsdemoStaticTabs [role="tabpanel"]
  color white
  overflow auto
  width 100%
  height 100%
  transition all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
  position absolute
.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active
.tabsdemoStaticTabs [role="tabpanel"].ng-enter
  top -300px
.tabsdemoStaticTabs [role="tabpanel"].ng-leave
.tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active
  top 0
.tabsdemoStaticTabs [role="tabpanel"].ng-leave
  z-index 100
.tabsdemoStaticTabs .md-header
  background-color #fff !important
  height 60px
.tabsdemoStaticTabs .md-header-items-container
  left 0 !important
  right 0 !important
  height 60px
.tabsdemoStaticTabs .md-header-items-container .md-header-items
  border-bottom 3px solid #bbb
  -webkit-transform none !important
  transform none !important
  width 100% !important
.tabsdemoStaticTabs md-tab
  color #bbb !important
  text-transform none
  border-right 1px solid #eee
  &:focus
    border-right 1px solid #eee
    border-left 1px solid #eee
    border-top none
    border-bottom none
    border-color #eee !important
  &:first-child
    border-left 1px solid #eee
.tabsdemoStaticTabs md-tab
  box-sizing content-box
.tabsdemoStaticTabs md-tab.active
.tabsdemoStaticTabs md-tab:focus
  color #333 !important
.tabsdemoStaticTabs md-tab:hover
  border-bottom 3px solid #333
.tabsdemoStaticTabs md-tab[disabled]
  opacity 0.5
.tabsdemoStaticTabs md-tab .md-ripple-container
  color #FFCD00 !important
.tabsdemoStaticTabs .md-header .md-ripple
  border-color #FFCD00 !important
.tabsdemoStaticTabs md-tabs-ink-bar
  background-color #FFCD00 !important
  height 3px

md-tab
  min-width initial !important
