<div class="playlist__ctrl" layout="column" ng-controller="PlaylistCtrl">

  <!--Show if playlist and chat are not showed in one viewport-->
  <md-toolbar class="playlist__toolbar">
    <h2 class="md-toolbar-tools playlist__toolbar-tools">
      <md-button class="playlist__leftbar-swither" aria-label="leftbar-switcher" ng-click="toggleLeft()">
        <svg class="playlist__leftbar-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M14.2,41.8c-7.6-7.6-7.6-20,0-27.6"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M18.5,37.5c-5.3-5.3-5.3-13.8,0-19.1"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M22.8,33.2c-2.9-2.9-2.9-7.6,0-10.5"/>
          <circle class="c" fill="#7F7F7F" cx="28" cy="28" r="3"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M33.2,22.8c2.9,2.9,2.9,7.6,0,10.5"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M37.5,18.5c5.3,5.3,5.3,13.8,0,19.1"/>
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M41.8,14.2c7.6,7.6,7.6,20,0,27.6"/>
        </svg>
      </md-button>
      <md-button class="playlist__rightbar-swither" aria-label="rightbar-switcher" ng-click="toggleRight()">
        <ng-md-icon icon="view_carousel" size="24"></ng-md-icon>
      </md-button>
    </h2>
  </md-toolbar>

  <!--Current track-->
  <md-content class="playlist__content--current">
    <md-list layout="column" class="playlist__list">
      <md-item class="playlist__track">
        <div class="track__img-cont">
<!--          <img ng-src="{{track.src}}" class="track__img" alt="" ng-click="data(track)">-->
          <img ng-src="assets\images\nocover.png" class="track__img" alt="">
        </div>
        <div class="track__row">
          <div class="track__base">
            <div class="track__content">
              <h3 class="track__artist">{{track.a}}</h3>
              <h4 class="track__title">{{track.t}}</h4>
            </div>
            <div class="track__tags">
              <span class="track__tag" ng-repeat="tag in track.tg">
                {{tag.n}}
              </span>
            </div>
            <div class="track__time">
              <span>+{{track.tt | readableTime}}</span>
            </div>
          </div>
          <div class="track__additional">
            <div class="track__links">
              <a href="http://vk.com/audio?q={{track.t}}-{{track.a}}" target="_blank" class="track__link">>vk</a>
              <a href="http://muzebra.com/search/?q={{track.t}}-{{track.a}}" target="_blank" class="track__link">>muzebra</a>
              <a href="#" class="track__link" ng-click="trackToChat(track.id)">>в чат</a>
            </div>
            <div class="track__upload-info">
              прнс <a href="#" {{track.sid}}>{{ track.s }}</a><span am-time-ago="track.ut"></span>
            </div>
          </div>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(track.id)">
            <ng-md-icon icon="expand_more" size="24"></ng-md-icon>
          </md-button>
          <span class="track__rating">{{track.r}}</span>
          <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(track.id)">
            <ng-md-icon icon="expand_less" size="24"></ng-md-icon>
          </md-button>
        </div>
        <div class="track__progress">
          <div class="track__progress-active" style="width:{{progress}}%;"></div>
        </div>
      </md-item>
    </md-list>
  </md-content>

  <!--Playlist-->
  <md-content class="playlist__content" scroll-glue="reverse">
<!--    <md-list layout="column" class="playlist__list" vs-repeat="60">-->
    <md-list layout="column" class="playlist__list">
      <md-item ng-repeat="track in playlist track by track.id" class="playlist__track" style="order: {{reverse*100 - track.r}}">
<!--      <md-item ng-repeat="track in playlist track by track.id" class="playlist__track">-->
        <div class="track__img-cont">
<!--          <img ng-src="{{track.src}}" class="track__img" alt="" ng-click="data(track)">-->
          <img ng-src="assets\images\nocover.png" class="track__img" alt="" ng-click="data(track)">
        </div>
        <div class="track__row">
          <div class="track__base">
            <div class="track__content">
              <h3 class="track__artist">{{track.a}}</h3>
              <h4 class="track__title">{{track.t}}</h4>
            </div>
            <div class="track__tags">
              <span class="track__tag" ng-repeat="tag in track.tg">
                {{tag.n}}
              </span>
            </div>
            <div class="track__time">
              <span>+{{track.tt | readableTime}}</span>
            </div>
          </div>
          <div class="track__additional">
            <div class="track__links">
              <a href="#" class="track__link">>vk</a>
              <a href="#" class="track__link">>muzebra</a>
              <a href="#" class="track__link" ng-click="trackToChat(track.id)">>в чат</a>
            </div>
            <div class="track__upload-info">
              прнс <a href="#" {{track.sid}}>{{ track.s }}</a><span am-time-ago="track.ut"></span>
            </div>
          </div>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(track.id)">
            <ng-md-icon icon="expand_more" size="24"></ng-md-icon>
          </md-button>
          <span class="track__rating">{{track.r}}</span>
          <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(track.id)">
            <ng-md-icon icon="expand_less" size="24"></ng-md-icon>
          </md-button>
        </div>
      </md-item>
    </md-list>
  </md-content>

</div>
