<div class="playlist__ctrl" layout="column" ng-controller="PlaylistCtrl">
  <md-toolbar class="playlist__toolbar">
    <h2 class="md-toolbar-tools playlist__toolbar-tools">
      <md-button class="playlist__leftbar-swither" aria-label="leftbar-switcher" ng-click="toggleLeft()">
        <svg class="playlist__leftbar-svg" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 56 56" enable-background="new 0 0 56 56" xml:space="preserve">
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M14.2,41.8c-7.6-7.6-7.6-20,0-27.6"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M18.5,37.5c-5.3-5.3-5.3-13.8,0-19.1"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M22.8,33.2c-2.9-2.9-2.9-7.6,0-10.5"/>
          <circle class="c" fill="#7F7F7F" cx="28" cy="28" r="3"/>
          <path class="b1" fill="none" stroke="#7F7F7F" stroke-width="3" stroke-miterlimit="10" d="M33.2,22.8c2.9,2.9,2.9,7.6,0,10.5"/>
          <path class="b2" fill="none" stroke="#9D9D9D" stroke-width="3" stroke-miterlimit="10" d="M37.5,18.5c5.3,5.3,5.3,13.8,0,19.1"/>
          <path class="b3" fill="none" stroke="#B4B4B4" stroke-width="3" stroke-miterlimit="10" d="M41.8,14.2c7.6,7.6,7.6,20,0,27.6"/>
        </svg>
      </md-button>
      <md-button class="playlist__rightbar-swither" aria-label="rightbar-switcher" ng-click="toggleRight()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M7 19h10v-15h-10v15zm-5-2h4v-11h-4v11zm16-11v11h4v-11h-4z"/>
          <path d="M0 0h24v24h-24z" fill="none"/>
        </svg>
      </md-button>
    </h2>
  </md-toolbar>
<!--  <div class="current current--top" ng-include="'components/current/current.html'"></div>-->
  <md-content class="playlist__content--current">
    <md-list layout="column" class="playlist__list">

      <current-track data="track"></current-track>
<!--
      <md-item class="playlist__track">
        <div class="track__img-cont">
          <img ng-src="{{track.src}}" class="track__img" alt="">
        </div>
        <div class="track__content">
          <h3 class="track__artist">{{track.a}}</h3>
          <h4 class="track__title">{{track.t}}</h4>
        </div>
        <div class="track__tags">
          <span class="track__tag" ng-repeat="tag in track.tg">
            {{tag.n}}
          </span>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
          <span class="track__rating">{{track.r}}</span>
          <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
        </div>
-->
      </md-item>
    </md-list>
  </md-content>

  <md-content class="playlist__content">
    <md-list layout="column" class="playlist__list">
<!--      <md-item ng-repeat="track in playlist | orderBy:'r':true" class="playlist__track">-->
<!--
    <a ng-click="rebuild()">Rebuild</a>
     <md-item
        ng-repeat="item in items"
        bn-item
        class="playlist__track">
        <div class="track__img-cont">
          <img ng-src="{{track.src}}" class="track__img" alt="" ng-click="data(track)">
        </div>
        <div class="track__content">
          <h3 class="track__artist">{{track.a}}</h3>
          <h4 class="track__title">{{track.t}}</h4>
        </div>
        <div class="track__tags">
          <span class="track__tag" ng-repeat="tag in track.tg">
            {{tag.n}}
          </span>
        </div>
        <div class="track__time">
          <span>+{{track.tt | readableTime}}</span>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
          <span class="track__rating">{{track.r}}</span>
          <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
        </div>
    </md-item>
-->
      <fast-repeat data="playlist"></fast-repeat>
<!--
      <md-item ng-repeat="track in playlist | orderBy:'r':reverse" class="playlist__track">
        <div class="track__img-cont">
          <img ng-src="{{track.src}}" class="track__img" alt="" ng-click="data(track)">
        </div>
        <div class="track__content">
          <h3 class="track__artist">{{track.a}}</h3>
          <h4 class="track__title">{{track.t}}</h4>
        </div>
        <div class="track__tags">
          <span class="track__tag" ng-repeat="tag in track.tg">
            {{tag.n}}
          </span>
        </div>
        <div class="track__time">
          <span>+{{track.tt | readableTime}}</span>
        </div>
        <div class="track__votes-block" ng-class="{ 'voted--up': track.vote > 0, 'voted--down': track.vote < 0 }" ng-show="load.signed">
          <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
          <span class="track__rating">{{track.r}}</span>
          <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(track.id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
              <path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z"/>
              <path d="M0 0h24v24h-24z" fill="none"/>
            </svg>
          </md-button>
        </div>
      </md-item>
-->
    </md-list>
  </md-content>
<!--  <div class="current current--bottom" ng-include="'components/current/current.html'"></div>-->
</div>
