.playlist__ctrl
  height 100vh
  flex-flow column wrap
  position relative
.playlist
  color #000
  width 100%
.playlist__content
  height calc(100% - 97px) /* (current) 58 + 3 (progressbar) + 36 (navbar) */
.playlist__content--current
  height 60px /* (current) 58 + 2 (progressbar) */
  & .playlist__track
    border 1px solid colorCurrentBorder
    background-color colorCurrentBG
    position relative
  & .track__artist
  & .track__title
    color colorCurrentTitle
  & .track__rating
    color colorCurrentRating
  & .track__base
  & .track__additional
    background-color colorCurrentBG
  & .track__upload-info
    color colorCurrentUploadinfo


.playlist__list
  overflow hidden
  display flex
  padding 0
.playlist__track
  border 1px solid colorTrackBorder
  display flex
  flex-flow row nowrap
  align-items center
  margin-top -1px
  background-color colorTrackBG
  height 60px !important
  min-height 60px !important
  max-height 60px !important
  width 100%
  &:first-child
    margin-top 0
  &.track--gold
    & .track__img-cont
      outline 4px solid colorTrackGold
      outline-offset -4px
.track__img-cont
  display flex
  margin 5px
  box-sizing border-box
  padding 0
  min-height 48px
  min-width 48px
.track__img
  width 48px
  height 48px
.track__content
  display flex
  flex-flow column wrap
.track__artist
.track__title
  font-weight 600
  color colorTrackTitle
  font-size 12px
  margin 0
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.track__tags
  display flex
  flex 1
  justify-content flex-end
.track__tag
  display flex
  font-size 9px
  color colorTrackTag
  border-radius 4px
  background-color colorTrackTagBG
  padding 2px 4px
  margin 0 2px
.track__time
  display flex
  color colorTrackTime
  font-size 12px

.track__votes-block
  display flex
  align-items center
  flex-basis 120px
  min-width 120px
  justify-content flex-end

.track__vote--up.track__vote--up
.track__vote--down.track__vote--down
  background-color transparent !important
  box-shadow none !important
  width 40px
  height 40px
  & svg
    margin-top 2px
  &:not([disabled])
    &:focus
    &:hover
      background-color transparent !important
      box-shadow none !important

.track__rating
  font-weight 100
  font-size 23px
  color colorTrackRating
  padding 0 2px


.playlist__toolbar
.playlist__toolbar-tools
  height 36px
  min-height 36px
  max-height 36px
  background-color colorPlaylistToolbarBG !important

.playlist__leftbar-swither
.playlist__rightbar-swither
  opacity .99
.playlist__leftbar-svg
  height 24px
  width 24px

.playlist__toolbar-tools
  justify-content space-between

.track__progress
  position absolute
  right -1px
  left -1px
  display block
  height 3px
  background colorProgressBG
.track__progress-active
  height 3px
  background colorProgressActiveBG

/* Caution! Buggy thing
* Please, just ignore this
*/
.playlist__leftbar-swither
  display inline-block
  opacity 1

@media screen and (max-width: 600px)
  .track__tag
    display none !important
@media screen and (min-width: 600px)
  .playlist__toolbar-tools
    justify-content flex-end
  .playlist__leftbar-swither
    display none !important
    opacity 0
    visibility hidden

@media screen and (max-width: 600px)
  .track__time
    display none !important

@media screen and (min-width: 961px)
  .playlist__content
    height calc(100% - 60px) /* (current) */
  .playlist__toolbar
    display none !important
  .track__votes-block
    &.voted--up
      & .track__vote--up
      & .track__rating
        color colorTrackVoteUp
    &.voted--down
      & .track__vote--down
      & .track__rating
        color colorTrackVoteDown
  .track__progress
    bottom -1px
  .track__tags
    min-width 60px
  .playlist__list
    flex-flow column wrap
//  .track__tags
//    width 0
//    display none
@media screen and (max-width: 960px)
  .playlist__content--current
    position absolute
    bottom 0
    left 0
    right 0
  .playlist__list
    flex-flow column-reverse wrap
  .track__votes-block
    flex-flow row-reverse nowrap
    justify-content flex-start
  .track__votes-block
    &.voted--up
      & .track__vote--down
      & .track__rating
        color colorTrackVoteUp
    &.voted--down
      & .track__vote--up
      & .track__rating
        color colorTrackVoteDown
  .track__progress
    top -1px
//  .track__tags
//    min-width 60px
//  .playlist__content--current .playlist__track
//    bottom -1px
.track__links
  opacity .99
.track__link
  font-size 12px
.track__upload-info
  font-size 10px
  color colorTrackUploadinfo

.track__row
  display block
  width 100%
  height 100%
  &:hover .track__additional
    transition opacity .1s ease
    opacity 1
.track__base
.track__additional
  height 58px !important
  min-height 58px !important
  max-height 58px !important
  background colorTrackBG
  display flex
  align-items center
  justify-content center
  flex 1
  flex-flow row nowrap
.track__additional
  align-items flex-start
  flex-flow row nowrap
  align-items center
  position relative
  top -100%
  left 0
  opacity 0
  transition opacity .1s ease
