.playlist__ctrl
  position relative
  height 100%
  width 100%
  flex-flow column wrap
.playlist
  height 100%
  display flex
  flex 1
@media screen and (min-width: 960px)
  .playlist
    flex 2
@media screen and (max-width: 600px)
  .playlist
    width 100%
.playlist__content
  height -webkit-calc(100% - 96px) /* (current) 58 + 2 (progressbar) + 36 (navbar) */
  height calc(100% - 96px) /* (current) 58 + 2 (progressbar) + 36 (navbar) */
.playlist__content--current
  height 60px /* (current) 58 + 2 (progressbar) */
  & .playlist__track
    border 1px solid colorCurrentBorder
    background-color colorCurrentBG
    position relative
    body[theme='dark'] &
      border 1px solid darkCurrentBorder
      background-color darkCurrentBG
  & .track__artist
  & .track__title
    color colorCurrentTitle
    body[theme='dark'] &
      color darkCurrentTitle
  & .track__rating
    color colorCurrentRating
    body[theme='dark'] &
      color darkCurrentRating
  & .track__base
  & .track__additional
    background-color colorCurrentBG
    body[theme='dark'] &
      background-color darkCurrentBG
  & .track__upload-info
    color colorCurrentUploadinfo
    body[theme='dark'] &
      color darkCurrentUploadinfo


.playlist__list
  overflow hidden
  display flex
  padding 0
  height 100%
  overflow-y auto
.playlist__track
  display flex
  flex-flow row nowrap
  align-items center
  margin-top -1px
  height 60px !important
  min-height 60px !important
  max-height 60px !important
  width 100%
  border 1px solid colorTrackBorder
  background-color colorTrackBG
  body[theme='dark'] &
    border 1px solid darkTrackBorder
    background-color darkTrackBG
  &.track--gold
    & .track__img-cont
      outline-offset -4px
      outline 4px solid colorTrackGold
      body[theme='dark'] &
        outline 4px solid darkTrackGold
.track__img-cont
  display flex
  margin 5px
  box-sizing border-box
  padding 0
  min-height 48px
  min-width 48px
.track__img
  width 48px
  height 48px
.track__content
  display flex
  flex-flow column wrap
.track__artist
.track__title
  font-weight 600
  font-size 12px
  margin 0
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color colorTrackTitle
  body[theme='dark'] &
    color darkTrackTitle
.track__tags
  display flex
  flex 1
  justify-content flex-end
.track__tag
  display flex
  font-size 9px
  border-radius 4px
  padding 2px 4px
  margin 0 2px
  color colorTrackTag
  background-color colorTrackTagBG
  body[theme='dark'] &
    color darkTrackTag
    background-color darkTrackTagBG
.track__time
  display flex
  font-size 12px
  color colorTrackTime
  body[theme='dark'] &
    color darkTrackTime

.track__votes-block
  display flex
  align-items center
  flex 1 0 auto
  justify-content flex-end

.track__vote--up.track__vote--up
.track__vote--down.track__vote--down
  background-color transparent !important
  box-shadow none !important
  width 40px
  height 40px
  & svg
    margin-top 2px
  &:not([disabled])
    &:focus
    &:hover
      background-color transparent !important
      box-shadow none !important

.track__rating
  font-weight 100
  font-size 23px
  padding 0 2px
  color colorTrackRating
  body[theme='dark'] &
    color darkTrackRating

.playlist__toolbar
.playlist__toolbar-tools
  height 36px
  min-height 36px
  max-height 36px
  background-color colorPlaylistToolbarBG !important
  body[theme='dark'] &
    background-color darkPlaylistToolbarBG !important

.playlist__leftbar-swither
.playlist__rightbar-swither
  opacity .99
.playlist__leftbar-svg
  height 24px
  width 24px

.playlist__toolbar-tools
  justify-content space-between

.track__progress
  position absolute
  right -1px
  left -1px
  display block
  height 3px
  background colorProgressBG
  body[theme='dark'] &
    background darkProgressBG
.track__progress-active
  height 3px
  background colorProgressActiveBG
  body[theme='dark'] &
    background ProgressActiveBG

/* Caution! Buggy thing
* Please, just ignore this
*/
.playlist__leftbar-swither
  display inline-block
  opacity 1

@media screen and (max-width: 600px)
  .track__tag
    display none !important
@media screen and (min-width: 600px)
  .playlist__leftbar-swither
    display none !important
    opacity 0
    visibility hidden

@media screen and (max-width: 600px)
  .track__time
    display none !important

@media screen and (min-width: 961px)
  .playlist__content
    height -webkit-calc(100% - 60px) /* (current) */
    height calc(100% - 60px) /* (current) */
  .playlist__toolbar
    display none !important
  .track__votes-block
    &.voted--up
      & .track__vote--up
      & .track__rating
        color colorTrackVoteUp
        body[theme='dark'] &
          color darkTrackVoteUp
    &.voted--down
      & .track__vote--down
      & .track__rating
        color colorTrackVoteDown
        body[theme='dark'] &
          color darkTrackVoteDown
  .track__progress
    bottom -1px
  .track__tags
    min-width 60px
  .playlist__list
    flex-flow column nowrap
//  .track__tags
//    width 0
//    display none
@media screen and (max-width: 960px)
  .playlist__content--current
    position absolute
    bottom 0
    left 0
    right 0
  .playlist
    & .playlist__list
      flex-flow column-reverse nowrap
  .track__votes-block
    flex-flow row-reverse nowrap
    justify-content flex-start
  .track__votes-block
    &.voted--up
      & .track__vote--down
      & .track__rating
        color colorTrackVoteUp
        body[theme='dark'] &
          color darkTrackVoteUp
    &.voted--down
      & .track__vote--up
      & .track__rating
        color colorTrackVoteDown
        body[theme='dark'] &
          color darkTrackVoteDown
  .track__progress
    top -1px
//  .track__tags
//    min-width 60px
//  .playlist__content--current .playlist__track
//    bottom -1px
.track__links
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
.track__link
  font-size 12px
  text-decoration none
.track__upload-info
  font-size 10px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color colorTrackUploadinfo
  body[theme='dark'] &
    color darkTrackUploadinfo

@media screen and (max-width: 600px)
  .track__artist
  .track__title
  .track__link
  .track__upload-info
    font-size 10px

.track__row
  display block
  width 100%
  height 100%
  &:hover .track__additional
    transition opacity .1s ease
    opacity 1
.track__base
.track__additional
  height 58px !important
  min-height 58px !important
  max-height 58px !important
  display flex
  align-items center
  justify-content center
  flex 1
  flex-flow row nowrap
  background colorTrackBG
  body[theme='dark'] &
    background darkTrackBG
.track__additional
  align-items flex-start
  flex-flow row nowrap
  align-items center
  position relative
  top -100%
  left 0
  opacity 0
  transition opacity .1s ease


.playlist--emtpy
  height 100%
  display flex
  align-items flex-start
  justify-content center
  background colorPlaylistEmtpyBG
  body[theme='dark'] &
    background darkPlaylistEmtpyBG
.playlist--empty-text
  display flex
  align-items center
  color colorPlaylistEmtpy
  body[theme='dark'] &
    color darkPlaylistEmtpy
  & svg
    width 4rem
    height 4rem
