.online__list
  background-color textPrimaryColor
  color textPrimaryColor

.online__here
.online__counter
  color primaryTextColor

.user__2profile
  background-color lightPrimaryColor
  color textPrimaryColor

.user__2chat
  color lightPrimaryColor
  &:hover
    background-color transparent !important
    text-decoration underline

.online__item
  &.active
    & .user__2profile
      background-color accentTextColor
    & .user__2chat
      color accentTextColor
