.online__include
  display flex
  height -webkit-calc(100% - 90px) /* depend with chat-input */
  height calc(100% - 90px) /* depend with chat-input */
  overflow-x hidden
  flex 1 1 8rem
  flex-flow row wrap
  color colorOnline
  background-color colorOnlineBG
  body[theme='dark'] &
    color darkOnline
    background-color darkOnlineBG
.online__ctrl
  height 100%
  width 100%

.online__list
  padding 0
  display flex
  flex-flow column-reverse
  background-color colorOnlineBG
  body[theme='dark'] &
    background-color darkOnlineBG

.online__list-item
  display block

.online__md-content
  width 100%
  height -webkit-calc(100% - 24px) /* depend with .online__here*/
  height calc(100% - 24px) /* depend with .online__here*/
  overflow-x hidden

.online__here
  width 100%
  margin 5px 0 5px 5px
.online__here
.online__counter
  line-height 1
  text-align left
  font-size 14px
  color colorOnlineText
  body[theme='dark'] &
    color darkOnlineText

.user__2profile
  display inline
  width 1.1rem
  min-width 1.1rem
  height 1rem
  margin-left 6px
  text-transform none
  padding 0
  border-radius 50% !important
  font-size 9px
  background-color colorOnlineUserBG
  color colorOnlineUserI
  body[theme='dark'] &
    background-color darkOnlineUserBG
    color darkOnlineUserI
  & span
    padding 2px 6px

.user__2chat
  display inline
  font-size 12px
  padding 2px 0
  text-transform none
  text-align left
  width 100%
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  color colorOnlineUser
  body[theme='dark'] &
    color darkOnlineUser
  & span
    white-space nowrap
    overflow hidden
    padding 2px 6px
    text-overflow ellipsis
  &:hover
    background-color transparent !important
    text-decoration underline

.online__item
  &.active
    & .user__2profile
      background-color colorOnlineUserActive
      body[theme='dark'] &
        background-color darkOnlineUserActive
    & .user__2chat
      color colorOnlineUserActive
      body[theme='dark'] &
        color darkOnlineUserActive

/* Ignore it - multicolumn layout is not nedded in this app */
@media screen and (min-width: 961px)
  .online__md-content
    column-count 1
    column-gap 0
@media screen and (min-width: 401px) and (max-width: 599px)
  .online__md-content
    column-count 3
    column-gap 10px
@media screen and (max-width: 400px)
  .online__md-content
    column-count 2
    column-gap 20px
