.online__include
  display flex
  height calc(100% - 90px)
  overflow-x hidden
  color #000
  flex-flow row wrap
.online__ctrl
  height 100%
  width 100%

.online__list
  display flex
  flex-flow column-reverse

.online__list-item
  display block

.online__md-content
  width 100%
  height calc(100% - 24px)
  overflow-x hidden

.online__here
  width 100%
  margin 5px 0 5px 5px
.online__here
.online__counter
  color #aaa
  line-height 1
  text-align left
  font-size 14px

.user__2profile
  display inline
  width 16px
  min-width 16px
  height 16px
  margin-left 6px
  text-transform none
  padding 0
  border-radius 50% !important
  background-color #aaa
  color #fff
  font-size 9px
  & span
    padding 2px 6px

.user__2chat
  display inline
  font-size 12px
  padding 2px 0
  color #aaa
  text-transform none
  text-align left
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
  & span
    white-space nowrap
    overflow hidden
    padding 2px 6px
    text-overflow ellipsis
  &:hover
    background-color transparent !important
    text-decoration underline

.online__item
  &.active
    & .user__2profile
      background-color #eba400
    & .user__2chat
      color #eba400

@media screen and (min-width: 961px)
  .online__md-content
    column-count 1
    column-gap 0
@media screen and (min-width: 401px) and (max-width: 599px)
  .online__md-content
    column-count 3
    column-gap 10px
@media screen and (max-width: 400px)
  .online__md-content
    column-count 2
    column-gap 20px
//@media screen and (max-width: 960px)
