.democracy__elections
.democracy__list
  color #000
.democracy__elections-input
  &.md-input-focused
    & input
      border-color thirdPartColor !important
    & label
      color thirdPartColor !important
.democracy__elections-btn
  background-color thirdPartColor !important
  color #fff
.democracy__admin
  color #000
.ban--btn
  background-color thirdPartColor !important
  color #fff !important
