.democracy__include
.democracy__ctrl
  height 100%
.democracy__tabpanel-container
  display flex
  height calc(100% - 60px)
.democracy__elections
.democracy__list
  background-color #eee
  color #000
  padding 12px
.democracy__header
  font-size 13px
  font-weight bold
  margin 0
.democracy__elections-input
  font-size 12px
  margin-top 0
  & input
    width 100%
    height 36px
  &.md-input-focused
    & input
      border-color #FFCD00 !important
      height 36px
    & label
      color #FFCD00 !important

.democracy__elections-row
  display flex
  flex-flow row nowrap
  align-items center
  justify-content space-between
.democracy__elections-choice
.democracy__elections-username
  font-size 12px
.democracy__elections-btn
  background-color #43A047 !important
  text-transform capitalize
  color #fff

.democracy__icon
  width 20px
  height 20px

.democracy__list-row
.democracy__president-row
.democracy__president
.democracy__list-row
.democracy__moderators
.democracy__moderator
  opacity .99
