<div ng-controller="DemocracyCtrl" class="democracy__ctrl">

    <ng-switch on="data.selectedIndex" class="democracy__tabpanel-container">
      <div role="tabpanel" id="tabModerList-content" aria-labelledby="tabModerList" ng-switch-when="0" md-swipe-left="next()" md-swipe-right="previous()" >

<!--
        <md-card class="democracy__elections">
          <h4 class="t-a-semicolon democracy__header">Выборы</h4>
          <md-text-float label="ID кандидата" ng-model="user.lastName" class="democracy__elections-input"> </md-text-float>
          <div class="democracy__elections-row">
            <span class="democracy__elections-choice">
              <span class="t-a-semicolon">Ты проголосовал за</span>
              <span class="t-b-space democracy__elections-username">Suok</span>
            </span>
            <md-button class="md-raised democracy__elections-btn">Голосовать</md-button>
          </div>
        </md-card>
-->

        <md-card class="democracy__list">
          <div class="democracy__list-row">
            <h4 class="t-a-semicolon democracy__header">Продюсер</h4>
            <span class="democracy__president-row">
              <md-button class="md-raised democracy__president">
                <img src="/assets/images/crown.svg" alt="" class="democracy__icon">
                Suok
              </md-button>
            </span>
            <h4 class="t-a-semicolon democracy__header">Редакционная коллегия</h4>
            <div class="democracy__moderators" ng-repeat="mod in moderators">
              <span class="democracy__moderator">
                <md-button class="md-raised democracy__moderator">{{mod.name}}</md-button>
                <span class="t-b-space-hyphen-space">{{mod.description}}</span>
              </span>
            </div>
          </div>
        </md-card>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus accusantium consequatur quae est? Similique omnis quod ex quaerat, explicabo harum aspernatur eum cupiditate qui non sequi, possimus rem tenetur, nemo.</p>


      </div>
      <div role="tabpanel" id="tabModerText-content" aria-labelledby="tabModerText" ng-switch-when="1" md-swipe-left="next()" md-swipe-right="previous()" >
        2
      </div>
    </ng-switch>

    <md-tabs class="md-accent" selected="data.selectedIndex">
      <md-tab id="ModerList" aria-controls="tabModerList-content">
        <span class="tabs__full">Moder</span>
        <span class="tabs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 18 4-4h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-14 7h12v2h-12v-2zm8 5h-8v-2h8v2zm4-6h-12v-2h12v2z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
          </svg>
        </span>
      </md-tab>
      <md-tab id="tabModerText" aria-controls="tabModerText-content">
        <span class="tabs__full">Text</span>
        <span class="tabs__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M18 17h-12v-2h12v2zm0-4h-12v-2h12v2zm0-4h-12v-2h12v2zm-15 13l1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5 1.5-1.5 1.5 1.5v-20l-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5-1.5 1.5-1.5-1.5v20z"/>
            <path d="M0 0h24v24h-24z" fill="none"/>
          </svg>
        </span>
      </md-tab>
    </md-tabs>

</div>
