<div ng-controller="HistoryCtrl" class="history__module">

  <div class="history__checkbox-grp">
    <md-checkbox ng-model="gold" aria-label="Золото" class="history__checkbox--gold">
      Золото
    </md-checkbox>
  </div>
<!--
  <md-content class="history__content">
    <md-list class="history__list">
      <md-item ng-repeat="track in tracks" class="history__list-item">
        <md-item-content>
          <div class="md-tile-content">
            <h3>{{track.a}}</h3>
            <h4>{{track.t}}</h4>
          </div>
        </md-item-content>
      </md-item>
    </md-list>
  </md-content>
-->
  <md-content class="history__content">
    <md-list layout="column" class="playlist__list">
      <md-item ng-repeat="track in tracks | orderBy:'r'" class="playlist__track">
        <div class="track__img-cont">
          <img ng-src="{{track.src}}" class="track__img" alt="">
        </div>
        <div class="track__content">
          <h3 class="track__artist">{{track.t}}</h3>
          <h4 class="track__title">{{track.a}}</h4>
        </div>
        <div class="track__tags">
          <span class="track__tag" ng-repeat="tag in track.tg">
            {{tag}}
          </span>
        </div>
        <div class="track__time">
          <span>+{{track.tt | readableTime}}</span>
        </div>
        <div class="track__votes-block">
          <span class="track__rating">{{track.r}}</span>
        </div>
      </md-item>
    </md-list>
  </md-content>

</div>

