<div ng-controller="HistoryCtrl" class="history__module">

  <div class="history__checkbox-grp">
    <md-checkbox ng-model="gold" ng-change="showHistory()" aria-label="Золото" class="history__checkbox--gold">
      Золото
    </md-checkbox>
  </div>

  <md-content class="history__content">
    <md-list layout="column" class="playlist__list">
      <md-item ng-repeat="track in tracks | orderBy:'tt':true" class="playlist__track" ng-class="{'track--gold': gold == true}">
        <div class="track__img-cont">
          <img ng-src="{{track.src}}" class="track__img" alt="">
        </div>
        <div class="track__content">
          <h3 class="track__artist">{{track.a}}</h3>
          <h4 class="track__title">{{track.t}}</h4>
        </div>
        <div class="track__tags">
          <span class="track__tag" ng-repeat="tag in track.tg">
            {{tag.n}}
          </span>
        </div>
        <div class="track__votes-block">
          <span class="track__rating">{{track.r}}</span>
        </div>
      </md-item>
    </md-list>
  </md-content>

</div>

