.history
  height 100%
.history__module
  color #000
  height 100%
.history__search-grp
  height 64px /* depend with .history__content */
  width 100%
  display flex
  align-items center
  flex-flow row wrap
  background colorHistoryGrpBG
  body[theme='dark'] &
    background darkHistoryGrpBG
  & .history__checkbox
    margin 0 0 0 10px
  & .history__select
    margin 0 0 0 10px
  & .history--input
    flex 1
    padding 2px
    margin 6px
  & .history--search-btn
    background-color transparent !important
    box-shadow none !important
@media screen and (max-width: 599px)
  .history__search-grp
    height 80px
    align-items flex-start
    & .history__checkbox
    & .history__select
      height 30px
    & .history--search-btn
      height 30px
      width 30px
      flex 1
      border-radius 0 !important
    & .history--input
      padding 0
      margin 0
      flex 1 0 50%

.history__content
  height -webkit-calc(100% - 64px) /* depend with .history__search-grp */
  height calc(100% - 64px) /* depend with .history__search-grp */

.history__loadmore
  width 100%
  background #ddd
  border-radius 0

.histroy--emtpy
  padding 0
  margin 0
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center
.history--empty-text
  display flex
  align-items center

