.login__ctrl
  background transparent !important
  border none !important
.login__card
  background-color darkPrimaryColor !important
.login__username
.login__password
  color #000
  & label
    color #000 !important
  & input
    border-color #000 !important
.login__btn
  background-color rgba(158, 158, 158, 0.2)
