<md-dialog aria-label="login-modal" class="login__ctrl" ng-controller="LoginCtrl">

  <md-card class="login__card">
    <md-input-container class="login__username">
      <label>{{ 'loginUsername' | translate }}</label>
      <input inputmode="latin" ng-model="user.name" type="text">
    </md-input-container>
    <md-input-container class="login__username">
      <label>{{ 'loginPassword' | translate }}</label>
      <input inputmode="latin" ng-model="user.password" ng-enter="login()" type="password">
    </md-input-container>
    <div class="login__settings">
      <md-checkbox ng-model="user.remember" class="settings__remember">
        Remember me
      </md-checkbox>
    </div>
    <md-button aria-label="login--btn" class="login__btn" ng-click="login()">{{ 'loginSubmit' | translate }}</md-button>
<!--    <a ng-click="recoverPassword()">Amnesia</a>-->
  </md-card>



</md-dialog>
