.login__ctrl
  background transparent !important
  border none !important
  border-radius 0 !important
  display block
.login__card
  display flex
  flex 1 auto
  padding 15%
  height 100%
  background-color colorGray1 !important
  body[theme='dark'] &
    background-color darkGray1 !important
.login__username
.login__password
  width 100%
  color #000
  padding-bottom 6px
  & label
    color #000 !important
  & input
    border-color #000 !important
.login__btn
  width 100%
  background-color rgba(158, 158, 158, 0.2)
