.login__ctrl
  background transparent !important
  border none !important
  border-radius 0 !important
  min-height 280px
.login__card
  background-color #333
  flex-flow column wrap
  padding 15%
  height 100%
  flex 1 auto
.login__username
.login__password
  width 100%
  color #000
  padding-bottom 6px
  & label
    color #000 !important
  & input
    border-color #000 !important
.login__btn
  width 100%
  background-color rgba(158, 158, 158, 0.2)
