<md-dialog aria-label="login-modal" class="login__ctrl" ng-controller="LoginCtrl">

  <md-card class="login__card">
    <md-input-container class="login__username">
      <label>Username</label>
      <input inputmode="latin" ng-model="user.name" type="text">
    </md-input-container>
    <md-input-container class="login__username">
      <label>Password</label>
      <input inputmode="latin" ng-model="user.password" ng-enter="login()" type="password">
    </md-input-container>
    <md-button aria-label="login--btn" class="login__btn" ng-click="login()">Yarrr!</md-button>
  </md-card>

</md-dialog>
