.login__ctrl
  background transparent !important
  border none !important
  border-radius 0 !important
.login__card
  background-color #333
  flex-flow column wrap
  padding 15%
.login__username
.login__password
  color #000
  & label
    color #000 !important
  & input
    border-color #000 !important
.login__btn
  width 100%
  background-color rgba(158, 158, 158, 0.2)
