<div class="pluses__ctrl" ng-controller="PlusesCtrl">

  <md-content class="history__content">
    <md-list layout="column" class="playlist__list">
      <md-item ng-repeat="track in tracks | orderBy:'tt':true" class="playlist__track">
        <div class="track__img-cont">
<!--          <img ng-src="{{track.src}}" class="track__img" alt="">-->
          <img ng-src="assets\images\nocover.png" class="track__img" alt="">
        </div>
        <div class="track__row">
          <div class="track__base">
            <div class="track__content">
              <h3 class="track__artist">{{track.a}}</h3>
              <h4 class="track__title">{{track.t}}</h4>
            </div>
            <div class="track__tags">
              <span class="track__tag" ng-repeat="tag in track.tg">
                {{tag.n}}
              </span>
            </div>
            <div class="track__time">
              <span>+{{track.tt | readableTime}}</span>
            </div>
          </div>
          <div class="track__additional">
            <div class="track__links">
              <a href="http://vk.com/audio?q={{track.t}}-{{track.a}}" target="_blank" class="track__link">>vk</a>
              <a href="http://muzebra.com/search/?q={{track.t}}-{{track.a}}" target="_blank" class="track__link">>muzebra</a>
              <a href="#" class="track__link" ng-click="trackToChat(track.id)">>в чат</a>
            </div>
            <div class="track__upload-info">
<!--              прнс <a href="#" {{track.sid}}>{{ track.s }}</a>{{ track.ut |timeago }}-->
              прнс <a href="#" {{track.sid}}>{{ track.s }}</a><span am-time-ago="track.ut"></span>
            </div>
          </div>
        </div>
        <div class="track__votes-block">
          <span class="track__rating">{{track.r}}</span>
        </div>
      </md-item>
    </md-list>
  </md-content>

</div>
