.track--current
  background-color #333
  & .track__artist
  & .track__title
    color #fff

@media screen and (max-width: 959px)
  .current--top
    display none

@media screen and (min-width: 960px)
  .current--bottom
    display none
