.current
  width 100%
.track--current
  background-color #333
  & .track__artist
  & .track__title
    color #fff

md-progress-linear
  height 3px !important
md-progress-linear .md-container
  top 0
md-progress-linear.md-default-theme[mode=buffer] .md-bar1
  background-color #777
md-progress-linear.md-default-theme .md-bar
  background-color #FFCD00
  height 3px !important
  transform none !important




@media screen and (max-width: 959px)
  .current--top
    display none

@media screen and (min-width: 960px)
  .current--bottom
    display none
