<md-item class="playlist__track">
<!--<md-item ng-controller="CurrentCtrl" class="playlist__track">-->
  <div class="track__img-cont">
    <img ng-src="{{current.src}}" class="track__img" alt="">
  </div>
  <div class="track__content">
    <h3 class="track__artist">{{current.a}}</h3>
    <h4 class="track__title">{{current.vote}}</h4>
  </div>
  <div class="track__tags">
    <span class="track__tag" ng-repeat="tag in current.tg">
      {{tag.n}}
    </span>
  </div>
  <div class="track__time">
    <span>+{{current.tt | readableTime}}</span>
  </div>
  <div class="track__votes-block" ng-class="{ 'voted--up': current.vote > 0, 'voted--down': current.vote < 0 }" ng-show="load.signed">
    <md-button class="md-fab track__vote--down" aria-label="track-up" ng-click="voteDown(current.id, current)">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M16.59 8.59l-4.59 4.58-4.59-4.58-1.41 1.41 6 6 6-6z"/>
        <path d="M0 0h24v24h-24z" fill="none"/>
      </svg>
    </md-button>
    <span class="track__rating">{{current.r}}</span>
    <md-button class="md-fab track__vote--up" aria-label="track-down" ng-click="voteUp(current.id, 'current')">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path d="M12 8l-6 6 1.41 1.41 4.59-4.58 4.59 4.58 1.41-1.41z"/>
        <path d="M0 0h24v24h-24z" fill="none"/>
      </svg>
    </md-button>
  </div>
<!--  <md-progress-linear class="md-warn" mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}"></md-progress-linear>-->
</md-item>


