<div class="settings__ctrl" ng-controller="SettingsCtrl">

  <md-card class="settings__card">

    <div class="settings__logout">
      <md-button class="settings__logout-btn">Log out</md-button>
    </div>

    <div class="settings__chat">
      <md-checkbox ng-model="data.tink" aria-label="Тинькать" class="settings__tink">Тинькать</md-checkbox>
      <md-checkbox ng-model="data.img" aria-label="Показывать изображения" class="settings__img">Показывать изображения</md-checkbox>
      <md-checkbox ng-model="data.female" aria-label="Ура! Я женщина!" class="settings__female">Ура! Я женщина!</md-checkbox>
    </div>

    <div class="settings__password">
      <md-text-float class="settings__password--old" label="Старый пароль" ng-model="message"></md-text-float>
      <md-text-float class="settings__password--new" label="Новый пароль" ng-model="message"></md-text-float>
      <md-text-float class="settings__password--new" label="Еще раз" ng-model="message"></md-text-float>
      <md-button class="settings__password-btn">Yarrr!</md-button>
    </div>

  </md-card>

</div>
