<div class="settings__ctrl" ng-controller="SettingsCtrl">

  <md-card class="settings__card">

    <div class="settings__logout">
      <md-button class="settings__logout-btn" aria-label="logout">{{ 'settingsLogOut' | translate }}</md-button>
      <md-button class="settings__logout-btn" aria-label="logout" ng-click="initLast()">lastFM</md-button>
    </div>

    <div class="settings__chat">
<!--
      <md-checkbox ng-model="data.tink" ng-change="setImg()" class="settings__tink">
        {{ 'settingsTink' | translate }}
      </md-checkbox>
      <md-checkbox ng-model="data.img" ng-change="setImg()" class="settings__img">
        {{ 'settingsImg' | translate }}
      </md-checkbox>
-->
      <md-checkbox ng-model="gender" ng-change="changeGender()" class="settings__female">
        {{ 'settingsFemale' | translate }}
      </md-checkbox>
    </div>

    <div class="settings__password">
      <md-input-container class="settings__password--old">
        <label>{{ 'settingsOldPassword' | translate }}</label>
        <input inputmode="latin" aria-label="settings-old-password" ng-model="oldPassword">
      </md-input-container>
      <md-input-container class="settings__password--new">
        <label>{{ 'settingsNewPassword' | translate }}</label>
        <input type="password" inputmode="latin" aria-label="settings-new-password" ng-model="newPassword">
      </md-input-container>
      <md-input-container class="settings__password--new">
        <label>{{ 'settingsNewPasswordAgain' | translate }}</label>
        <input type="password" inputmode="latin" aria-label="settings-new-password" ng-model="newPasswordFix" ng-enter="changePassword">
      </md-input-container>
      <md-button ng-click="changePassword()" class="settings__password-btn" aria-label="change-password">{{ 'settingsNewPasswordSumbit' | translate }}</md-button>
    </div>

  </md-card>

</div>
